<a href="https://colab.research.google.com/github/MarianaDuartee/ProjetoFinal/blob/main/2_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### INSTALANDO DEPENDECIAS

In [ ]:
!pip install pyspark
!pip install gcsfs
!pip install pandas
!pip install pandera

### IMPORTANDO BIBLIOTECAS, ABRINDO SPARKSESSION E CONFIGURANDO CHAVE DE SERVIÇO

In [197]:
from pyspark.sql import SparkSession
from pyspark import SQLContext
from google.cloud import storage
from pyspark.sql.types import *
from pyspark.sql.types import DateType
from pyspark.sql import Window

import pyspark
import pyspark.sql.functions as F
import os
import gcsfs
import pandas as pd
import pandera as pa

In [198]:
spark = SparkSession.builder\
.master('local')\
.appName('Projeto_Final')\
.config('spark.ui.enable', 'true')\
.config('spark.ui.port', '4050')\
.getOrCreate()

spark

serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount

spark

### IMPORTANDO, VALIDANDO, EXTRAINDO INFORMAÇÕES E ANALISANDO DATAFRAMES

DATAFRAME 1

In [213]:
'''https://acervolima.com/como-converter-pandas-para-pyspark-dataframe/'''

# ARQUIVO 1 - Lendo e validando importanção
file_path_1 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_despesas_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_1):
    data = pd.read_csv(file_path_1, sep=',', encoding='UTF-8', header=0, index_col=False)

    # Validando esquema, coluna e tipo de dado
    schema = pa.DataFrameSchema(columns={"UF": pa.Column(str, pa.Check(str)),
                                         "Despesas2016": pa.Column(float, pa.Check(lambda s: s > 100.000), nullable=True),
                                         "Despesas2017": pa.Column(float, pa.Check(lambda s: s > 100.000), nullable=True),
                                         "Despesas2018": pa.Column(float, pa.Check(lambda s: s > 100.000), nullable=True),
                                         "Despesas2019": pa.Column(float, pa.Check(lambda s: s > 100.000), nullable=True),
                                         "Despesas2020": pa.Column(float, pa.Check(lambda s: s > 100.000), nullable=True),
                                         "Variacao%": pa.Column(float, pa.Check(lambda s: s != 0), nullable=True),
                                         "Previsao2021|Media": pa.Column(float, pa.Check(lambda s: s > 100.000), nullable=True)                               
                                         })
    
    schema.validate(data)

df_1 = spark.createDataFrame(data)

DATAFRAME 2

In [214]:
file_path_2 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencias_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_2):
    data = pd.read_json(file_path_2, encoding='UTF-8')

# Validando esquema, coluna e tipo de dado
    schema = pa.DataFrameSchema(columns={"UF": pa.Column(str, pa.Check(str)),
                                         "TipoCrime": pa.Column(str, pa.Check(str), nullable=True),
                                         "Ano": pa.Column(int, pa.Check(lambda s: s >= 2015), nullable=True),
                                         "Mes": pa.Column(str, pa.Check(str), nullable=True),
                                         "Ocorrencias": pa.Column(int, pa.Check(lambda s: s >= 0), nullable=True),                          
                                         })
    
    schema.validate(data)
    
df_2 = spark.createDataFrame(data)

DATAFRAME 3

In [215]:
file_path_3 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_vitimas_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_3):
    data = pd.read_json(file_path_3, encoding='UTF-8')

    # Validando esquema, coluna e tipo de dado
    schema = pa.DataFrameSchema(columns={"UF": pa.Column(str, pa.Check(str)),
                                     "TipoCrime": pa.Column(str, pa.Check(str), nullable=True),
                                     "Ano": pa.Column(int, pa.Check(lambda s: s >= 2015), nullable=True),
                                     "Mes": pa.Column(str, pa.Check(str), nullable=True),
                                     "SexoVitima": pa.Column(str, pa.Check(str), nullable=True),
                                     "Vitimas": pa.Column(int, pa.Check(lambda s: s >= 0), nullable=True),                      
                                    })
    
    schema.validate(data)

df_3 = spark.createDataFrame(data)

DATAFRAME 5

In [216]:
file_path_5 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencia_vitimas_porAnoEstado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_5):
    data = pd.read_csv(file_path_5, sep=',', encoding='UTF-8')

    # Validando esquema, coluna e tipo de dado
    schema = pa.DataFrameSchema(columns={"UF": pa.Column(str, pa.Check(str)),
                                         "Ano": pa.Column(int, pa.Check(lambda s: s >= 2015), nullable=True),
                                         "TipoCrime": pa.Column(str, pa.Check(str), nullable=True),
                                         "Ocorrencias": pa.Column(int, pa.Check(lambda s: s >= 0), nullable=True),
                                         "Vitimas": pa.Column(int, pa.Check(lambda s: s >= 0), nullable=True),                      
                                        })
    
    schema.validate(data)

df_5 = spark.createDataFrame(data)

DATAFRAME 6

In [217]:
file_path_6 = 'gs://data_lake_ingest_data/1_input/Tabela_frequencia_escolar.xlsx'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_6):
    data = pd.read_excel(file_path_6, header=0)

    # Validando esquema, coluna e tipo de dado
    schema = pa.DataFrameSchema(columns={"Grandes Regiões, Unidades da Federação e Municípios das Capitais": pa.Column(str, pa.Check(str)),
                                         "15 a 17 anos - 2019": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "15 a 17 anos - 2018": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "15 a 17 anos - 2017": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "15 a 17 anos - 2016": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),                      
                                         "Media 15 a 17 anos": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "18 a 24 anos - 2019": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "18 a 24 anos - 2018": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "18 a 24 anos - 2017": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "18 a 24 anos - 2016": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "média 18 a 24 anos": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "25 anos ou mais - 2019": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "25 anos ou mais - 2018": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "25 anos ou mais - 2017": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "25 anos ou mais - 2016":  pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "média 25 anos ou mais": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True)
                                        })
    
    schema.validate(data)
    
df_6 = spark.createDataFrame(data)

DATAFRAME 7

In [218]:
file_path_7 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_taxa_analfabetismo_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_7):
    data = pd.read_csv(file_path_7, header=0)

    # Validando esquema, coluna e tipo de dado
    schema = pa.DataFrameSchema(columns={"Unnamed: 0": pa.Column(int, pa.Check(lambda s: s >= 0)),
                                         "UF": pa.Column(str, pa.Check(str), nullable=True),
                                         "Grupo_idade": pa.Column(str, pa.Check(str), nullable=True),
                                         "TaxaAnalfabetismo2016": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "TaxaAnalfabetismo2017": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),                      
                                         "TaxaAnalfabetismo2018": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                         "TaxaAnalfabetismo2019": pa.Column(float, pa.Check(lambda s: s <= 100.0), nullable=True),
                                        })
    
    schema.validate(data)

df_7 = spark.createDataFrame(data)

ANALISANDO DATAFRAMES

In [219]:
df_1.printSchema()
df_1.show(5, truncate=False)
df_1.dtypes

df_2.printSchema()
df_2.show(5, truncate=False)
df_2.dtypes

df_3.printSchema()
df_3.show(5, truncate=False)
df_3.dtypes

df_5.printSchema()
df_5.show(5, truncate=False)
df_5.dtypes

df_6.printSchema()
df_6.show(5, truncate=False)
df_6.dtypes

df_7.printSchema()
df_7.show(5, truncate=False)
df_7.dtypes

root
 |-- UF: string (nullable = true)
 |-- Despesas2016: double (nullable = true)
 |-- Despesas2017: double (nullable = true)
 |-- Despesas2018: double (nullable = true)
 |-- Despesas2019: double (nullable = true)
 |-- Despesas2020: double (nullable = true)
 |-- Variacao%: double (nullable = true)
 |-- Previsao2021|Media: double (nullable = true)

+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|UF      |Despesas2016      |Despesas2017|Despesas2018      |Despesas2019|Despesas2020      |Variacao%|Previsao2021|Media|
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|Acre    |498.535           |568.361     |627.351           |692.57      |493.75300000000004|8.5      |576.114           |
|Amapá   |475.32300000000004|500.227     |489.228           |606.366     |752.252           |52.3     |564.6792          |
|Amazonas|1604.7320000000002|1578.957    |1862.6689999999999|2108.46     |2101.447          |60.4     |1851.253          |
|Pará    |2551.741          |2579.916    |2903.2            |2943.448    |2966.553          |58.0     |2788.9716         |
|Rondônia|874.8739999999999 |895.868     |903.2539999999999 |853.971     |999.044           |-14.7    |905.4022          |
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
only showing top 5 rows

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)

+----+-------------------------------+----+-------+-----------+
|UF  |TipoCrime                      |Ano |Mes    |Ocorrencias|
+----+-------------------------------+----+-------+-----------+
|Acre|Estupro                        |2021|janeiro|39         |
|Acre|Furto de veículo               |2021|janeiro|55         |
|Acre|Homicídio doloso               |2021|janeiro|14         |
|Acre|Lesão corporal seguida de morte|2021|janeiro|0          |
|Acre|Roubo a instituição financeira |2021|janeiro|0          |
+----+-------------------------------+----+-------+-----------+
only showing top 5 rows

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- SexoVitima: string (nullable = true)
 |-- Vitimas: long (nullable = true)

+----+----------------+----+---------+----------+-------+
|UF  |TipoCrime       |Ano |Mes      |SexoVitima|Vitimas|
+----+----------------+----+---------+----------+-------+
|Acre|Homicídio doloso|2021|janeiro  |Feminino  |1      |
|Acre|Homicídio doloso|2021|janeiro  |Masculino |13     |
|Acre|Homicídio doloso|2021|janeiro  |Sexo NI   |0      |
|Acre|Homicídio doloso|2021|fevereiro|Feminino  |4      |
|Acre|Homicídio doloso|2021|fevereiro|Masculino |12     |
+----+----------------+----+---------+----------+-------+
only showing top 5 rows

root
 |-- UF: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)
 |-- Vitimas: long (nullable = true)

+----+----+-----------------------------------+-----------+-------+
|UF  |Ano |TipoCrime                          |Ocorrencias|Vitimas|
+----+----+-----------------------------------+-----------+-------+
|Acre|2016|Homicídio doloso                   |425        |354    |
|Acre|2017|Homicídio doloso                   |221        |232    |
|Acre|2017|Lesão corporal seguida de morte    |0          |3      |
|Acre|2017|Roubo seguido de morte (latrocínio)|10         |15     |
|Acre|2018|Homicídio doloso                   |396        |394    |
+----+----+-----------------------------------+-----------+-------+
only showing top 5 rows

root
 |-- Grandes Regiões, Unidades da Federação e Municípios das Capitais: string (nullable = true)
 |-- 15 a 17 anos - 2019: double (nullable = true)
 |-- 15 a 17 anos - 2018: double (nullable = true)
 |-- 15 a 17 anos - 2017: double (nullable = true)
 |-- 15 a 17 anos - 2016: double (nullable = true)
 |-- Media 15 a 17 anos: double (nullable = true)
 |-- 18 a 24 anos - 2019: double (nullable = true)
 |-- 18 a 24 anos - 2018: double (nullable = true)
 |-- 18 a 24 anos - 2017: double (nullable = true)
 |-- 18 a 24 anos - 2016: double (nullable = true)
 |-- média 18 a 24 anos: double (nullable = true)
 |-- 25 anos ou mais - 2019: double (nullable = true)
 |-- 25 anos ou mais - 2018: double (nullable = true)
 |-- 25 anos ou mais - 2017: double (nullable = true)
 |-- 25 anos ou mais - 2016: double (nullable = true)
 |-- média 25 anos ou mais: double (nullable = true)

+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
|Grandes Regiões, Unidades da Federação e Municípios das Capitais|15 a 17 anos - 2019|15 a 17 anos - 2018|15 a 17 anos - 2017|15 a 17 anos - 2016|Media 15 a 17 anos|18 a 24 anos - 2019|18 a 24 anos - 2018|18 a 24 anos - 2017|18 a 24 anos - 2016|média 18 a 24 anos|25 anos ou mais - 2019|25 anos ou mais - 2018|25 anos ou mais - 2017|25 anos ou mais - 2016|média 25 anos ou mais|
+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
|Brasil                                                          |89.17198948374096  |88.2426144204458   |86.56451335197876  |87.5617260467917   |87.8852108257393  |32.41407932745226  |34.53417795470805  |33.360253247817255 |34.17581270855951  |33.62108080963427 |4.504817075471089     |5.675049480395514     |5.8222092845937174    |6.05481441288333      |5.514222563335913    |
|Norte                                                           |88.74982729136596  |87.13363699314166  |86.18634784748102  |86.23343843334908  |87.07581264133444 |33.277336088584065 |30.55755225551167  |31.889367675874244 |31.40075605450034  |31.781253018617576|5.300311202284845     |4.738200441644607     |4.829205200490404     |6.316555051054046     |5.2960679738684755   |
|Rondônia                                                        |88.5758890715434   |87.61083310627495  |88.09353317895633  |86.80829519027922  |87.77213763676347 |31.917363776805303 |36.46044648717471  |42.381697360736936 |39.412875441641646 |37.543095766589644|5.696628237780432     |6.806092080969176     |8.094231628524204     |10.102827665601428    |7.67494490321881     |
|Porto Velho                                                     |88.95162805125744  |82.5532772565588   |84.18183233290323  |86.43959488451544  |85.53158313130872 |38.26167802729192  |33.024090303693306 |35.08011605454825  |39.44302117520716  |36.45222639018516 |7.482369141571613     |8.496009939035124     |7.956949796455643     |10.15315072431738     |8.52211990034494     |
|Acre                                                            |84.98448999182288  |87.17335055657942  |86.65851673769289  |86.68539677641571  |86.37543851562772 |33.834860833327035 |38.86751169841704  |42.36043012159184  |42.89214761645621  |39.488737567448034|6.9339672958134075    |10.321757609195592    |9.98524514543419      |10.493120889846796    |9.433522735072497    |
+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
only showing top 5 rows

root
 |-- Unnamed: 0: long (nullable = true)
 |-- UF: string (nullable = true)
 |-- Grupo_idade: string (nullable = true)
 |-- TaxaAnalfabetismo2016: double (nullable = true)
 |-- TaxaAnalfabetismo2017: double (nullable = true)
 |-- TaxaAnalfabetismo2018: double (nullable = true)
 |-- TaxaAnalfabetismo2019: double (nullable = true)

+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
|Unnamed: 0|UF      |Grupo_idade    |TaxaAnalfabetismo2016|TaxaAnalfabetismo2017|TaxaAnalfabetismo2018|TaxaAnalfabetismo2019|
+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
|0         |Rondônia|15 anos ou mais|6.6                  |7.2                  |6.5                  |6.4                  |
|1         |Acre    |15 anos ou mais|13.1                 |12.1                 |12.1                 |11.7                 |
|2         |Amazonas|15 anos ou mais|6.9                  |6.1                  |5.8                  |5.4                  |
|3         |Roraima |15 anos ou mais|6.6                  |6.0                  |6.0                  |5.0                  |
|4         |Pará    |15 anos ou mais|9.2                  |8.6                  |8.8                  |8.4                  |
+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
only showing top 5 rows

[('Unnamed: 0', 'bigint'),
 ('UF', 'string'),
 ('Grupo_idade', 'string'),
 ('TaxaAnalfabetismo2016', 'double'),
 ('TaxaAnalfabetismo2017', 'double'),
 ('TaxaAnalfabetismo2018', 'double'),
 ('TaxaAnalfabetismo2019', 'double')]

### NORMALIZANDO DATAFRAMES

DATAFRAME 1

In [220]:
df_1 = df_1.drop('Estimativa_2021', 'Previsao2021Media')
df_1 = df_1.drop('Estimativa_2021', 'Previsao2021Media')
df_1 = df_1.withColumnRenamed('Media Anual', 'Estimativa_Despesa_2021')
df_1 = df_1.withColumnRenamed('Previsao2021|Media', 'Previsao2021_Media')

df_1.withColumn("Despesas2017", F.round(df_1.Despesas2016.cast(FloatType()), 3))
df_1.withColumn("Despesas2017", F.round(df_1.Despesas2017.cast(FloatType()), 3))
df_1.withColumn("Despesas2018", F.round(df_1.Despesas2018.cast(FloatType()), 3))
df_1.withColumn("Despesas2019", F.round(df_1.Despesas2019.cast(FloatType()), 3))
df_1.withColumn("Despesas2020", F.round(df_1.Despesas2020.cast(FloatType()), 3))
df_1.withColumn("Previsao2021_Media", F.round(df_1.Previsao2021_Media.cast(FloatType()), 3))

df_1.show()
df_1.dtypes

+-------------------+------------------+------------------+------------------+------------------+------------------+---------+------------------+
|                 UF|      Despesas2016|      Despesas2017|      Despesas2018|      Despesas2019|      Despesas2020|Variacao%|Previsao2021_Media|
+-------------------+------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Acre|           498.535|           568.361|           627.351|            692.57|493.75300000000004|      8.5|           576.114|
|              Amapá|475.32300000000004|           500.227|           489.228|           606.366|           752.252|     52.3|          564.6792|
|           Amazonas|1604.7320000000002|          1578.957|1862.6689999999999|           2108.46|          2101.447|     60.4|          1851.253|
|               Pará|          2551.741|          2579.916|            2903.2|          2943.448|          2966.553|     58.0|         2788.9716|
|           Rondônia| 874.8739999999999|           895.868| 903.2539999999999|           853.971|           999.044|    -14.7|          905.4022|
|            Roraima|           408.934|           440.124|405.44599999999997|           288.198|391.17800000000005|     65.8|           386.776|
|          Tocantins|           839.882| 898.6519999999999|           939.627|           1119.19|          1059.726|     24.6|          971.4154|
|            Alagoas|          1196.641|           1244.52|          1251.229|1159.1589999999999|          1354.986|     17.1|1241.3070000000002|
|              Bahia| 4760.590999999999|          4569.076|          4601.027|          4682.403|          4321.663|      3.9|          4586.952|
|              Ceará|          2188.315|          2400.235|2763.3390000000004|           2842.36|          3045.583|     95.0|         2647.9664|
|           Maranhão|1593.4720000000002|1764.7879999999998|          1980.318|           2003.66|          1954.384|     69.0|         1859.3244|
|            Paraíba|           1286.81|1295.2069999999999|1352.9720000000002|           1386.24|          1417.592|     37.1|         1347.7642|
|         Pernambuco|          2657.598|2807.8740000000003|          2971.232|          2985.145|          2880.151|    -10.1|            2860.4|
|              Piauí|           804.429|           792.977|             799.0|           893.296|           785.832|    102.3|          815.1068|
|Rio Grande do Norte|          1215.257|           983.317|          1045.736|          1203.684|          1038.218|      9.7|         1097.2424|
|            Sergipe|            942.15| 938.5010000000001|           956.072|           989.128|           956.784|    -12.9| 956.5269999999999|
|              Goiás|           3455.91|          3084.744|3643.1609999999996|           3839.27|          3191.756|     50.1|3442.9682000000007|
|        Mato Grosso|          2085.541|          2118.651|          2204.075|          2486.876|           2577.01|     49.0|         2294.4306|
| Mato Grosso do Sul|          1459.525|1487.2220000000002|          1233.864|          1259.369|          1240.098|    -12.8|1336.0156000000004|
|   Distrito Federal|           812.247| 909.7919999999999| 905.0060000000001|           931.987|           976.513|     92.4| 907.1089999999999|
+-------------------+------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

[('UF', 'string'),
 ('Despesas2016', 'double'),
 ('Despesas2017', 'double'),
 ('Despesas2018', 'double'),
 ('Despesas2019', 'double'),
 ('Despesas2020', 'double'),
 ('Variacao%', 'double'),
 ('Previsao2021_Media', 'double')]

DATAFRAME 6

In [221]:
# DROPANDO COLUNAS
df_6 = df_6.drop('15 a 17 anos - 2019', 
                 '15 a 17 anos - 2018',
                 '15 a 17 anos - 2017',
                 '15 a 17 anos - 2016',
                 '18 a 24 anos - 2019',
                 '18 a 24 anos - 2018',
                 '18 a 24 anos - 2017',
                 '18 a 24 anos - 2016',
                 '25 anos ou mais - 2019',
                 '25 anos ou mais - 2018',
                 '25 anos ou mais - 2017',
                 '25 anos ou mais - 2016')

# RENOMEANDO COLUNAS FAIXA DE IDADE
df_6 = df_6.withColumnRenamed('Grandes Regiões, Unidades da Federação e Municípios das Capitais', 'UF')
df_6 = df_6.withColumnRenamed('Media 15 a 17 anos', 'Media_Freq_15_a_17_anos')
df_6 = df_6.withColumnRenamed('média 18 a 24 anos', 'Media_Freq_18_a_24_anos')
df_6 = df_6.withColumnRenamed('média 25 anos ou mais', 'Media_Freq_25_anos_ou_mais')

# df_6.show(1000, truncate=False)

# FILTRO PARA REMOVER REGIÕES E CAPITAIS
df_6 = df_6.filter(
            (df_6.UF != "Brasil") & 
            (df_6.UF != "Norte") & 
            (df_6.UF != "Nordeste") &
            (df_6.UF != "Sudeste") & 
            (df_6.UF != "Sul") &
            (df_6.UF != "Centro-Oeste") &
            (df_6.UF != "Porto Velho") &
            (df_6.UF != "Rio Branco") &
            (df_6.UF != "Manaus") &
            (df_6.UF != "Boa Vista") &
            (df_6.UF != "Macapá") &
            (df_6.UF != "Palmas") &
            (df_6.UF != "São Luiz") &
            (df_6.UF != "Teresina") &
            (df_6.UF != "Fortaleza") &
            (df_6.UF != "Natal") &
            (df_6.UF != "joão Pessoa") &
            (df_6.UF != "Recife") &
            (df_6.UF != "Maceió") &
            (df_6.UF != "Aracaju") &
            (df_6.UF != "Salvador") &
            (df_6.UF != "Belo Horizonte") &
            (df_6.UF != "Vitória") &
            (df_6.UF != "Curitiba") &
            (df_6.UF != "Florianópolis") &
            (df_6.UF != "Porto Alegre") &
            (df_6.UF != "Campo Grande") &
            (df_6.UF != "Cuiabá") &
            (df_6.UF != "Goiânia") &
            (df_6.UF != "Brasilia") &
            (df_6.Media_Freq_15_a_17_anos != 89.58849285882357) & # Rio de Janeiro
            (df_6.Media_Freq_15_a_17_anos != 86.56596333926969) # São Paulo
            )\
            .orderBy('UF', ascending=True)

# # INCREMENTANDO TAXA DE EVASÃO
# df_6 = df_6.withColumn('Evasao_11_a_14_anos', (df_5.Freq_11_a_14_anos - 100)) 
# df_6 = df_6.withColumn('Evasao_15_a_17_anos', (df_5.Freq_11_a_14_anos - 100))
# df_6 = df_6.withColumn('Evasao_18_a_24_anos', (df_5.Freq_11_a_14_anos - 100))
# df_6 = df_6.withColumn('Evasao_25_anos_ou_mais', (df_5.Freq_11_a_14_anos - 100))

# CONVERTENDO VALORES EM PORCENTAGEM
'''https://stackoverflow.com/questions/60673912/how-to-convert-number-into-percentage'''

df_6 = df_6\
.withColumn("Media_Freq_15_a_17_anos", F.concat((F.col("Media_Freq_15_a_17_anos") * 1).cast("int"), F.lit(' %')))\
.withColumn("Media_Freq_18_a_24_anos", F.concat((F.col("Media_Freq_18_a_24_anos") * 1).cast("int"), F.lit(' %')))\
.withColumn("Media_Freq_25_anos_ou_mais", F.concat((F.col("Media_Freq_25_anos_ou_mais") * 1).cast("int"), F.lit(' %')))
# .withColumn("Media_Freq_Escolar", F.concat((F.col("Media_Freq_Escolar") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_11_a_14_anos", F.concat((F.col("Evasao_11_a_14_anos") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_15_a_17_anos", F.concat((F.col("Evasao_15_a_17_anos") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_18_a_24_anos", F.concat((F.col("Evasao_18_a_24_anos") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_25_anos_ou_mais", F.concat((F.col("Evasao_25_anos_ou_mais") * 1).cast("int"), F.lit(' %')))

# AJUSTANDO EXIBIÇÃO DO DATAFRAME
df_6 = df_6.select('UF', 
                   'Media_Freq_15_a_17_anos', 
                #    'Evasao_11_a_14_anos',
                   'Media_Freq_18_a_24_anos',
                #    'Evasao_15_a_17_anos',
                   'Media_Freq_25_anos_ou_mais',
                #    'Evasao_18_a_24_anos',
                #    'Freq_25_anos_ou_mais',
                #    'Evasao_25_anos_ou_mais',
                #    'Media_Freq_Escolar'
               )

df_6.show(1000)

+-------------------+-----------------------+-----------------------+--------------------------+
|                 UF|Media_Freq_15_a_17_anos|Media_Freq_18_a_24_anos|Media_Freq_25_anos_ou_mais|
+-------------------+-----------------------+-----------------------+--------------------------+
|               Acre|                   86 %|                   39 %|                       9 %|
|            Alagoas|                   85 %|                   35 %|                       4 %|
|              Amapá|                   88 %|                   42 %|                       7 %|
|           Amazonas|                   90 %|                   39 %|                       7 %|
|              Bahia|                   90 %|                   43 %|                       7 %|
|              Belém|                   89 %|                   40 %|                       6 %|
|           Brasília|                   91 %|                   44 %|                       6 %|
|              Ceará|                   88 %|                   33 %|                       5 %|
|   Distrito Federal|                   91 %|                   44 %|                       6 %|
|     Espírito Santo|                   92 %|                   47 %|                       6 %|
|              Goiás|                   87 %|                   39 %|                       5 %|
|        João Pessoa|                   84 %|                   32 %|                       4 %|
|           Maranhão|                   87 %|                   35 %|                       6 %|
|        Mato Grosso|                   90 %|                   39 %|                       7 %|
| Mato Grosso do Sul|                   90 %|                   39 %|                       6 %|
|       Minas Gerais|                   92 %|                   37 %|                       6 %|
|             Paraná|                   87 %|                   41 %|                       5 %|
|            Paraíba|                   90 %|                   44 %|                       6 %|
|               Pará|                   90 %|                   39 %|                       6 %|
|         Pernambuco|                   88 %|                   33 %|                       5 %|
|              Piauí|                   94 %|                   42 %|                       6 %|
|Rio Grande do Norte|                   92 %|                   41 %|                       5 %|
|  Rio Grande do Sul|                   89 %|                   43 %|                       7 %|
|     Rio de Janeiro|                   93 %|                   40 %|                       4 %|
|           Rondônia|                   87 %|                   37 %|                       7 %|
|            Roraima|                   90 %|                   34 %|                       8 %|
|     Santa Catarina|                   92 %|                   44 %|                       6 %|
|            Sergipe|                   91 %|                   41 %|                       5 %|
|           São Luís|                   89 %|                   37 %|                       5 %|
|          São Paulo|                   88 %|                   34 %|                       4 %|
|          Tocantins|                   91 %|                   40 %|                       7 %|
+-------------------+-----------------------+-----------------------+--------------------------+

DATAFRAME 7

In [222]:
# DATAFRAME 7
df_7 = df_7.drop('Grupo_idade')
df_7 = df_7.drop('Unnamed: 0')

df_7 = df_7\
.withColumn("TaxaAnalfabetismo2016", F.concat((F.col("TaxaAnalfabetismo2016") * 1).cast("int"), F.lit(' %')))\
.withColumn("TaxaAnalfabetismo2017", F.concat((F.col("TaxaAnalfabetismo2017") * 1).cast("int"), F.lit(' %')))\
.withColumn("TaxaAnalfabetismo2018", F.concat((F.col("TaxaAnalfabetismo2018") * 1).cast("int"), F.lit(' %')))\
.withColumn("TaxaAnalfabetismo2019", F.concat((F.col("TaxaAnalfabetismo2019") * 1).cast("int"), F.lit(' %')))

df_7.show()

+-------------------+---------------------+---------------------+---------------------+---------------------+
|                 UF|TaxaAnalfabetismo2016|TaxaAnalfabetismo2017|TaxaAnalfabetismo2018|TaxaAnalfabetismo2019|
+-------------------+---------------------+---------------------+---------------------+---------------------+
|           Rondônia|                  6 %|                  7 %|                  6 %|                  6 %|
|               Acre|                 13 %|                 12 %|                 12 %|                 11 %|
|           Amazonas|                  6 %|                  6 %|                  5 %|                  5 %|
|            Roraima|                  6 %|                  6 %|                  6 %|                  5 %|
|               Pará|                  9 %|                  8 %|                  8 %|                  8 %|
|              Amapá|                  5 %|                  5 %|                  6 %|                  5 %|
|          Tocantins|                 10 %|                 10 %|                 10 %|                  9 %|
|           Maranhão|                 16 %|                 16 %|                 16 %|                 15 %|
|              Piauí|                 17 %|                 16 %|                 16 %|                 16 %|
|              Ceará|                 15 %|                 14 %|                 13 %|                 13 %|
|Rio Grande do Norte|                 14 %|                 13 %|                 12 %|                 13 %|
|            Paraíba|                 16 %|                 16 %|                 16 %|                 16 %|
|         Pernambuco|                 12 %|                 13 %|                 11 %|                 11 %|
|            Alagoas|                 19 %|                 18 %|                 17 %|                 17 %|
|            Sergipe|                 14 %|                 14 %|                 13 %|                 13 %|
|              Bahia|                 13 %|                 12 %|                 12 %|                 12 %|
|       Minas Gerais|                  6 %|                  6 %|                  5 %|                  5 %|
|     Espírito Santo|                  6 %|                  5 %|                  5 %|                  5 %|
|     Rio de Janeiro|                  2 %|                  2 %|                  2 %|                  2 %|
|          São Paulo|                  2 %|                  2 %|                  2 %|                  2 %|
+-------------------+---------------------+---------------------+---------------------+---------------------+
only showing top 20 rows

### CONSULTAS / AGREGANDO DADOS

In [223]:
# VISUALIZAR DATAFRAMES TRATADOS

df_1.show(5, truncate=False)
df_2.show(5, truncate=False)
df_3.show(5, truncate=False)
df_5.show(5, truncate=False)
df_6.show(5, truncate=False)
df_7.show(5, truncate=False)

+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|UF      |Despesas2016      |Despesas2017|Despesas2018      |Despesas2019|Despesas2020      |Variacao%|Previsao2021_Media|
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|Acre    |498.535           |568.361     |627.351           |692.57      |493.75300000000004|8.5      |576.114           |
|Amapá   |475.32300000000004|500.227     |489.228           |606.366     |752.252           |52.3     |564.6792          |
|Amazonas|1604.7320000000002|1578.957    |1862.6689999999999|2108.46     |2101.447          |60.4     |1851.253          |
|Pará    |2551.741          |2579.916    |2903.2            |2943.448    |2966.553          |58.0     |2788.9716         |
|Rondônia|874.8739999999999 |895.868     |903.2539999999999 |853.971     |999.044           |-14.7    |905.4022          |
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
only showing top 5 rows

+----+-------------------------------+----+-------+-----------+
|UF  |TipoCrime                      |Ano |Mes    |Ocorrencias|
+----+-------------------------------+----+-------+-----------+
|Acre|Estupro                        |2021|janeiro|39         |
|Acre|Furto de veículo               |2021|janeiro|55         |
|Acre|Homicídio doloso               |2021|janeiro|14         |
|Acre|Lesão corporal seguida de morte|2021|janeiro|0          |
|Acre|Roubo a instituição financeira |2021|janeiro|0          |
+----+-------------------------------+----+-------+-----------+
only showing top 5 rows

+----+----------------+----+---------+----------+-------+
|UF  |TipoCrime       |Ano |Mes      |SexoVitima|Vitimas|
+----+----------------+----+---------+----------+-------+
|Acre|Homicídio doloso|2021|janeiro  |Feminino  |1      |
|Acre|Homicídio doloso|2021|janeiro  |Masculino |13     |
|Acre|Homicídio doloso|2021|janeiro  |Sexo NI   |0      |
|Acre|Homicídio doloso|2021|fevereiro|Feminino  |4      |
|Acre|Homicídio doloso|2021|fevereiro|Masculino |12     |
+----+----------------+----+---------+----------+-------+
only showing top 5 rows

+----+----+-----------------------------------+-----------+-------+
|UF  |Ano |TipoCrime                          |Ocorrencias|Vitimas|
+----+----+-----------------------------------+-----------+-------+
|Acre|2016|Homicídio doloso                   |425        |354    |
|Acre|2017|Homicídio doloso                   |221        |232    |
|Acre|2017|Lesão corporal seguida de morte    |0          |3      |
|Acre|2017|Roubo seguido de morte (latrocínio)|10         |15     |
|Acre|2018|Homicídio doloso                   |396        |394    |
+----+----+-----------------------------------+-----------+-------+
only showing top 5 rows

+--------+-----------------------+-----------------------+--------------------------+
|UF      |Media_Freq_15_a_17_anos|Media_Freq_18_a_24_anos|Media_Freq_25_anos_ou_mais|
+--------+-----------------------+-----------------------+--------------------------+
|Acre    |86 %                   |39 %                   |9 %                       |
|Alagoas |85 %                   |35 %                   |4 %                       |
|Amapá   |88 %                   |42 %                   |7 %                       |
|Amazonas|90 %                   |39 %                   |7 %                       |
|Bahia   |90 %                   |43 %                   |7 %                       |
+--------+-----------------------+-----------------------+--------------------------+
only showing top 5 rows

+--------+---------------------+---------------------+---------------------+---------------------+
|UF      |TaxaAnalfabetismo2016|TaxaAnalfabetismo2017|TaxaAnalfabetismo2018|TaxaAnalfabetismo2019|
+--------+---------------------+---------------------+---------------------+---------------------+
|Rondônia|6 %                  |7 %                  |6 %                  |6 %                  |
|Acre    |13 %                 |12 %                 |12 %                 |11 %                 |
|Amazonas|6 %                  |6 %                  |5 %                  |5 %                  |
|Roraima |6 %                  |6 %                  |6 %                  |5 %                  |
|Pará    |9 %                  |8 %                  |8 %                  |8 %                  |
+--------+---------------------+---------------------+---------------------+---------------------+
only showing top 5 rows

JOINS

In [224]:
# AGREGAÇÃO 1

#AGRUPANDO VALORES DOS DATAFRAMES
df_ins2 = df_2.groupBy('UF').sum('Ocorrencias').orderBy('UF')
df_ins2.show(50, truncate=False)

df_ins3 = df_3.groupBy('UF').sum('Vitimas').orderBy('UF')
df_ins3.show(50, truncate=False)

# ------------------------------------------------------------

# JOIN 1
# AGREGA OS VALORES TOTAIS DE OCORRENCIAS E VITIMAS

df_join_1 = df_ins2.join(df_ins3, on=['UF'], how='inner')\
.select('UF', 'sum(Ocorrencias)', 'sum(Vitimas)')\
.orderBy(F.asc('UF'))

df_join_1.show(50, False)

# ------------------------------------------------------------

# JOIN 2
# AGREGA OS VALORES TOTAIS DE OCORRENCIAS, VITIMAS, MEDIA DE FREQ ESCOLAR

df_join_2 = df_join_1.join(df_6, on=['UF'], how='inner')\
.select('UF', 'sum(Ocorrencias)', 'sum(Vitimas)', 'Media_Freq_25_anos_ou_mais')\
.orderBy('UF', ascending=True)

df_join_2.show(50, False)

# ------------------------------------------------------------

# JOIN 3
# AGREGA OS VALORES TOTAIS DE DESPESAS GOVERNAMENTAIS, OCORRENCIAS, VITIMAS, MEDIA DE FREQ. ESCOLAR

df_join_3 = df_join_2.join(df_1, on=['UF'], how='inner')\
.select('UF', 'Despesas2020', 'sum(Ocorrencias)', 'sum(Vitimas)', 'Media_Freq_25_anos_ou_mais')\
.orderBy(F.asc('UF'))

df_join_3\
.orderBy("Despesas2020", ascending=False)\
.show(50, False)

df_join_3.dtypes

+-------------------+----------------+
|UF                 |sum(Ocorrencias)|
+-------------------+----------------+
|Acre               |10569           |
|Alagoas            |36240           |
|Amapá              |9594            |
|Amazonas           |42023           |
|Bahia              |159173          |
|Ceará              |109815          |
|Distrito Federal   |60852           |
|Espírito Santo     |71950           |
|Goiás              |124737          |
|Maranhão           |59384           |
|Mato Grosso        |46055           |
|Mato Grosso do Sul |38831           |
|Minas Gerais       |216193          |
|Paraná             |182637          |
|Paraíba            |23523           |
|Pará               |94224           |
|Pernambuco         |161713          |
|Piauí              |45802           |
|Rio Grande do Norte|50289           |
|Rio Grande do Sul  |208516          |
|Rio de Janeiro     |422633          |
|Rondônia           |33431           |
|Roraima            |10191           |
|Santa Catarina     |87944           |
|Sergipe            |30428           |
|São Paulo          |943818          |
|Tocantins          |20532           |
+-------------------+----------------+

+-------------------+------------+
|UF                 |sum(Vitimas)|
+-------------------+------------+
|Acre               |1731        |
|Alagoas            |7800        |
|Amapá              |1662        |
|Amazonas           |6342        |
|Bahia              |32769       |
|Ceará              |20942       |
|Distrito Federal   |2797        |
|Espírito Santo     |6613        |
|Goiás              |11286       |
|Maranhão           |10281       |
|Mato Grosso        |5332        |
|Mato Grosso do Sul |2987        |
|Minas Gerais       |18494       |
|Paraná             |12076       |
|Paraíba            |6499        |
|Pará               |18439       |
|Pernambuco         |22856       |
|Piauí              |3617        |
|Rio Grande do Norte|9258        |
|Rio Grande do Sul  |13273       |
|Rio de Janeiro     |25739       |
|Rondônia           |2620        |
|Roraima            |1228        |
|Santa Catarina     |4689        |
|Sergipe            |5431        |
|São Paulo          |15909       |
|Tocantins          |2194        |
+-------------------+------------+

+-------------------+----------------+------------+
|UF                 |sum(Ocorrencias)|sum(Vitimas)|
+-------------------+----------------+------------+
|Acre               |10569           |1731        |
|Alagoas            |36240           |7800        |
|Amapá              |9594            |1662        |
|Amazonas           |42023           |6342        |
|Bahia              |159173          |32769       |
|Ceará              |109815          |20942       |
|Distrito Federal   |60852           |2797        |
|Espírito Santo     |71950           |6613        |
|Goiás              |124737          |11286       |
|Maranhão           |59384           |10281       |
|Mato Grosso        |46055           |5332        |
|Mato Grosso do Sul |38831           |2987        |
|Minas Gerais       |216193          |18494       |
|Paraná             |182637          |12076       |
|Paraíba            |23523           |6499        |
|Pará               |94224           |18439       |
|Pernambuco         |161713          |22856       |
|Piauí              |45802           |3617        |
|Rio Grande do Norte|50289           |9258        |
|Rio Grande do Sul  |208516          |13273       |
|Rio de Janeiro     |422633          |25739       |
|Rondônia           |33431           |2620        |
|Roraima            |10191           |1228        |
|Santa Catarina     |87944           |4689        |
|Sergipe            |30428           |5431        |
|São Paulo          |943818          |15909       |
|Tocantins          |20532           |2194        |
+-------------------+----------------+------------+

+-------------------+----------------+------------+--------------------------+
|UF                 |sum(Ocorrencias)|sum(Vitimas)|Media_Freq_25_anos_ou_mais|
+-------------------+----------------+------------+--------------------------+
|Acre               |10569           |1731        |9 %                       |
|Alagoas            |36240           |7800        |4 %                       |
|Amapá              |9594            |1662        |7 %                       |
|Amazonas           |42023           |6342        |7 %                       |
|Bahia              |159173          |32769       |7 %                       |
|Ceará              |109815          |20942       |5 %                       |
|Distrito Federal   |60852           |2797        |6 %                       |
|Espírito Santo     |71950           |6613        |6 %                       |
|Goiás              |124737          |11286       |5 %                       |
|Maranhão           |59384           |10281       |6 %                       |
|Mato Grosso        |46055           |5332        |7 %                       |
|Mato Grosso do Sul |38831           |2987        |6 %                       |
|Minas Gerais       |216193          |18494       |6 %                       |
|Paraná             |182637          |12076       |5 %                       |
|Paraíba            |23523           |6499        |6 %                       |
|Pará               |94224           |18439       |6 %                       |
|Pernambuco         |161713          |22856       |5 %                       |
|Piauí              |45802           |3617        |6 %                       |
|Rio Grande do Norte|50289           |9258        |5 %                       |
|Rio Grande do Sul  |208516          |13273       |7 %                       |
|Rio de Janeiro     |422633          |25739       |4 %                       |
|Rondônia           |33431           |2620        |7 %                       |
|Roraima            |10191           |1228        |8 %                       |
|Santa Catarina     |87944           |4689        |6 %                       |
|Sergipe            |30428           |5431        |5 %                       |
|São Paulo          |943818          |15909       |4 %                       |
|Tocantins          |20532           |2194        |7 %                       |
+-------------------+----------------+------------+--------------------------+

+-------------------+------------------+----------------+------------+--------------------------+
|UF                 |Despesas2020      |sum(Ocorrencias)|sum(Vitimas)|Media_Freq_25_anos_ou_mais|
+-------------------+------------------+----------------+------------+--------------------------+
|São Paulo          |11935.652         |943818          |15909       |4 %                       |
|Rio de Janeiro     |9450.563          |422633          |25739       |4 %                       |
|Minas Gerais       |8987.254          |216193          |18494       |6 %                       |
|Rio Grande do Sul  |5530.741999999999 |208516          |13273       |7 %                       |
|Bahia              |4321.663          |159173          |32769       |7 %                       |
|Paraná             |3687.002          |182637          |12076       |5 %                       |
|Goiás              |3191.756          |124737          |11286       |5 %                       |
|Ceará              |3045.583          |109815          |20942       |5 %                       |
|Pará               |2966.553          |94224           |18439       |6 %                       |
|Pernambuco         |2880.151          |161713          |22856       |5 %                       |
|Mato Grosso        |2577.01           |46055           |5332        |7 %                       |
|Santa Catarina     |2406.364          |87944           |4689        |6 %                       |
|Amazonas           |2101.447          |42023           |6342        |7 %                       |
|Maranhão           |1954.384          |59384           |10281       |6 %                       |
|Paraíba            |1417.592          |23523           |6499        |6 %                       |
|Espírito Santo     |1408.398          |71950           |6613        |6 %                       |
|Alagoas            |1354.986          |36240           |7800        |4 %                       |
|Mato Grosso do Sul |1240.098          |38831           |2987        |6 %                       |
|Tocantins          |1059.726          |20532           |2194        |7 %                       |
|Rio Grande do Norte|1038.218          |50289           |9258        |5 %                       |
|Rondônia           |999.044           |33431           |2620        |7 %                       |
|Distrito Federal   |976.513           |60852           |2797        |6 %                       |
|Sergipe            |956.784           |30428           |5431        |5 %                       |
|Piauí              |785.832           |45802           |3617        |6 %                       |
|Amapá              |752.252           |9594            |1662        |7 %                       |
|Acre               |493.75300000000004|10569           |1731        |9 %                       |
|Roraima            |391.17800000000005|10191           |1228        |8 %                       |
+-------------------+------------------+----------------+------------+--------------------------+

[('UF', 'string'),
 ('Despesas2020', 'double'),
 ('sum(Ocorrencias)', 'bigint'),
 ('sum(Vitimas)', 'bigint'),
 ('Media_Freq_25_anos_ou_mais', 'string')]

In [225]:
# AGREGAÇÃO 2

# JOIN 2
# AGREGA OS VALORES TOTAIS DE OCORRENCIAS E VITIMAS POR ESTADO 

# ------------------------------------------------------------

df_join_4 = df_6.join(df_7, on=['UF'], how='inner')\
.select('UF', 
        'Media_Freq_15_a_17_anos', 
        'Media_Freq_18_a_24_anos', 
        'Media_Freq_25_anos_ou_mais', 
        'TaxaAnalfabetismo2016', 
        'TaxaAnalfabetismo2017', 
        'TaxaAnalfabetismo2018', 
        'TaxaAnalfabetismo2019')\
.orderBy(F.asc('UF'))

df_join_4.show()

+-------------------+-----------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------+---------------------+
|                 UF|Media_Freq_15_a_17_anos|Media_Freq_18_a_24_anos|Media_Freq_25_anos_ou_mais|TaxaAnalfabetismo2016|TaxaAnalfabetismo2017|TaxaAnalfabetismo2018|TaxaAnalfabetismo2019|
+-------------------+-----------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------+---------------------+
|               Acre|                   86 %|                   39 %|                       9 %|                 13 %|                 12 %|                 12 %|                 11 %|
|            Alagoas|                   85 %|                   35 %|                       4 %|                 19 %|                 18 %|                 17 %|                 17 %|
|              Amapá|                   88 %|                   42 %|                       7 %|                  5 %|                  5 %|                  6 %|                  5 %|
|           Amazonas|                   90 %|                   39 %|                       7 %|                  6 %|                  6 %|                  5 %|                  5 %|
|              Bahia|                   90 %|                   43 %|                       7 %|                 13 %|                 12 %|                 12 %|                 12 %|
|              Ceará|                   88 %|                   33 %|                       5 %|                 15 %|                 14 %|                 13 %|                 13 %|
|   Distrito Federal|                   91 %|                   44 %|                       6 %|                  2 %|                  2 %|                  3 %|                  2 %|
|     Espírito Santo|                   92 %|                   47 %|                       6 %|                  6 %|                  5 %|                  5 %|                  5 %|
|              Goiás|                   87 %|                   39 %|                       5 %|                  6 %|                  5 %|                  5 %|                  5 %|
|           Maranhão|                   87 %|                   35 %|                       6 %|                 16 %|                 16 %|                 16 %|                 15 %|
|        Mato Grosso|                   90 %|                   39 %|                       7 %|                  6 %|                  6 %|                  7 %|                  6 %|
| Mato Grosso do Sul|                   90 %|                   39 %|                       6 %|                  6 %|                  5 %|                  5 %|                  5 %|
|       Minas Gerais|                   92 %|                   37 %|                       6 %|                  6 %|                  6 %|                  5 %|                  5 %|
|             Paraná|                   87 %|                   41 %|                       5 %|                  4 %|                  4 %|                  5 %|                  4 %|
|            Paraíba|                   90 %|                   44 %|                       6 %|                 16 %|                 16 %|                 16 %|                 16 %|
|               Pará|                   90 %|                   39 %|                       6 %|                  9 %|                  8 %|                  8 %|                  8 %|
|         Pernambuco|                   88 %|                   33 %|                       5 %|                 12 %|                 13 %|                 11 %|                 11 %|
|              Piauí|                   94 %|                   42 %|                       6 %|                 17 %|                 16 %|                 16 %|                 16 %|
|Rio Grande do Norte|                   92 %|                   41 %|                       5 %|                 14 %|                 13 %|                 12 %|                 13 %|
|  Rio Grande do Sul|                   89 %|                   43 %|                       7 %|                  3 %|                  3 %|                  3 %|                  2 %|
+-------------------+-----------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------+---------------------+
only showing top 20 rows

In [226]:
# AGREGAÇÃO 3

# AGRUPANDO VALORES DOS DATAFRAMES
df_agg_1 = df_2.filter(df_2.Ano == 2020)\
.groupBy('UF').sum('Ocorrencias').alias('Ocorrencias_2020').orderBy('UF')

df_agg_1.show()

# ------------------------------------------------------------

df_agg_2 = df_3.filter(df_3.Ano == 2020)\
.groupBy('UF').sum('Vitimas').alias('Vitimas_2020').orderBy('UF')

df_agg_2.show()

# ------------------------------------------------------------

# AGREGANDO OS VALORES PELO ANO DE 2020

df_join_5 = df_agg_1.join(df_agg_2, on=['UF'], how='inner')\
.select('UF', 'sum(Ocorrencias)', 'sum(Vitimas)')\
.orderBy('UF', ascending=True)

df_join_5.show()

# ------------------------------------------------------------

df_join_2 = df_1.select('UF', 'Despesas2020')

df_join_5 = df_join_5.join(df_join_2, on=['UF'], how='inner')\
.select('UF', 
        'sum(Ocorrencias)', 
        'sum(Vitimas)', 
        'Despesas2020')

df_join_5 = df_join_5\
.withColumnRenamed('sum(Ocorrencias)', 'Ocorrencias_2020')\
.withColumnRenamed('sum(Vitimas)', 'Vitimas_2020')\
.withColumnRenamed('Despesas2020', 'Despesas_Gov_2020')\

df_join_5.show()

+-------------------+----------------+
|                 UF|sum(Ocorrencias)|
+-------------------+----------------+
|               Acre|            1850|
|            Alagoas|            5404|
|              Amapá|             860|
|           Amazonas|            5717|
|              Bahia|           24392|
|              Ceará|           19402|
|   Distrito Federal|            8269|
|     Espírito Santo|           13224|
|              Goiás|           11868|
|           Maranhão|            8356|
|        Mato Grosso|            6466|
| Mato Grosso do Sul|            5937|
|       Minas Gerais|           27002|
|             Paraná|           24872|
|            Paraíba|            4822|
|               Pará|           11824|
|         Pernambuco|           23832|
|              Piauí|            8015|
|Rio Grande do Norte|            7976|
|  Rio Grande do Sul|           25810|
+-------------------+----------------+
only showing top 20 rows

+-------------------+------------+
|                 UF|sum(Vitimas)|
+-------------------+------------+
|               Acre|         285|
|            Alagoas|        1237|
|              Amapá|         253|
|           Amazonas|         985|
|              Bahia|        5535|
|              Ceará|        4039|
|   Distrito Federal|         390|
|     Espírito Santo|        1156|
|              Goiás|        1574|
|           Maranhão|        1950|
|        Mato Grosso|         859|
| Mato Grosso do Sul|         488|
|       Minas Gerais|        2695|
|             Paraná|        2090|
|            Paraíba|        1159|
|               Pará|        2333|
|         Pernambuco|        3686|
|              Piauí|         708|
|Rio Grande do Norte|        1386|
|  Rio Grande do Sul|        1906|
+-------------------+------------+
only showing top 20 rows

+-------------------+----------------+------------+
|                 UF|sum(Ocorrencias)|sum(Vitimas)|
+-------------------+----------------+------------+
|               Acre|            1850|         285|
|            Alagoas|            5404|        1237|
|              Amapá|             860|         253|
|           Amazonas|            5717|         985|
|              Bahia|           24392|        5535|
|              Ceará|           19402|        4039|
|   Distrito Federal|            8269|         390|
|     Espírito Santo|           13224|        1156|
|              Goiás|           11868|        1574|
|           Maranhão|            8356|        1950|
|        Mato Grosso|            6466|         859|
| Mato Grosso do Sul|            5937|         488|
|       Minas Gerais|           27002|        2695|
|             Paraná|           24872|        2090|
|            Paraíba|            4822|        1159|
|               Pará|           11824|        2333|
|         Pernambuco|           23832|        3686|
|              Piauí|            8015|         708|
|Rio Grande do Norte|            7976|        1386|
|  Rio Grande do Sul|           25810|        1906|
+-------------------+----------------+------------+
only showing top 20 rows

+-------------------+----------------+------------+------------------+
|                 UF|Ocorrencias_2020|Vitimas_2020| Despesas_Gov_2020|
+-------------------+----------------+------------+------------------+
|               Acre|            1850|         285|493.75300000000004|
|            Alagoas|            5404|        1237|          1354.986|
|              Amapá|             860|         253|           752.252|
|           Amazonas|            5717|         985|          2101.447|
|              Bahia|           24392|        5535|          4321.663|
|              Ceará|           19402|        4039|          3045.583|
|   Distrito Federal|            8269|         390|           976.513|
|     Espírito Santo|           13224|        1156|          1408.398|
|              Goiás|           11868|        1574|          3191.756|
|           Maranhão|            8356|        1950|          1954.384|
|        Mato Grosso|            6466|         859|           2577.01|
| Mato Grosso do Sul|            5937|         488|          1240.098|
|       Minas Gerais|           27002|        2695|          8987.254|
|             Paraná|           24872|        2090|          3687.002|
|            Paraíba|            4822|        1159|          1417.592|
|               Pará|           11824|        2333|          2966.553|
|         Pernambuco|           23832|        3686|          2880.151|
|              Piauí|            8015|         708|           785.832|
|Rio Grande do Norte|            7976|        1386|          1038.218|
|  Rio Grande do Sul|           25810|        1906| 5530.741999999999|
+-------------------+----------------+------------+------------------+
only showing top 20 rows

WINDOW FUNCTIONS RANKING

In [227]:
# ANALISANDO AS OCORRENCIAS DO ESTADO SP EM 2019

df_2_consulta = df_2.groupby('UF', 'TipoCrime', 'Ano')\
.sum('Ocorrencias')\
.filter(
    (df_2.UF == "São Paulo") & 
    (df_2.Ano == 2019))\
.orderBy('TipoCrime')

# --------------------------------------------

# RANKING DAS OCORRENCIAS
w0 = Window.partitionBy(F.col('UF')).orderBy(F.desc('sum(Ocorrencias)'))

df_2_consulta.withColumn('Ranking', F.row_number().over(w0))\
.show(truncate=False)

+---------+-----------------------------------+----+----------------+-------+
|UF       |TipoCrime                          |Ano |sum(Ocorrencias)|Ranking|
+---------+-----------------------------------+----+----------------+-------+
|São Paulo|Furto de veículo                   |2019|84099           |1      |
|São Paulo|Roubo de veículo                   |2019|46513           |2      |
|São Paulo|Estupro                            |2019|11614           |3      |
|São Paulo|Roubo de carga                     |2019|7325            |4      |
|São Paulo|Tentativa de homicídio             |2019|3390            |5      |
|São Paulo|Homicídio doloso                   |2019|2778            |6      |
|São Paulo|Roubo seguido de morte (latrocínio)|2019|191             |7      |
|São Paulo|Lesão corporal seguida de morte    |2019|99              |8      |
|São Paulo|Roubo a instituição financeira     |2019|21              |9      |
+---------+-----------------------------------+----+----------------+-------+

STRUCT TYPE | UNION BY NAME

In [228]:
# CRIANDO DATAFRAME VAZIO

esquema = (StructType([
        StructField('UF', StringType(), True),
        StructField('TipoCrime', StringType(), True),
        StructField('Ano', IntegerType(), True),
        StructField('Mes', StringType(), True),
        StructField('SexoVitima', StringType(), True),
        StructField('Vitimas', IntegerType(), True)
    ])
)

df_3_consulta = spark.createDataFrame(data='', schema=esquema)
df_3_consulta.printSchema()
df_3_consulta.show()

# UNINDO DF

df_3_consulta.unionByName(df_3)\
.orderBy('Ano', ascending=False)\
.show(5, truncate=False)

# --------------------------------------------

# EXIBINDO AS QTD. DE VITIMAS DE CRIMES DO ESTADO RJ EM 2020 POR SEXO

df_3_consulta = df_3.groupby('UF', 'TipoCrime', 'Ano', 'SexoVitima')\
.sum('Vitimas')\
.filter(
    (df_3.UF == "Rio de Janeiro") &
    (df_3.Ano == 2020) &
    (df_3.SexoVitima == "Feminino"))\
.orderBy('TipoCrime')

df_3_consulta.show(truncate=False)

df_3_consulta = df_3.groupby('UF', 'TipoCrime', 'Ano', 'SexoVitima')\
.sum('Vitimas')\
.filter(
    (df_3.UF == "Rio de Janeiro") &
    (df_3.Ano == 2020) &
    (df_3.SexoVitima == "Masculino"))\
.orderBy('TipoCrime')

df_3_consulta.show(truncate=False)

df_3_consulta = df_3.groupby('UF', 'TipoCrime', 'Ano', 'SexoVitima')\
.sum('Vitimas')\
.filter(
    (df_3.UF == "Rio de Janeiro") &
    (df_3.Ano == 2020) &
    (df_3.SexoVitima == "Sexo NI"))\
.orderBy('TipoCrime')

df_3_consulta.show(truncate=False)

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: integer (nullable = true)
 |-- Mes: string (nullable = true)
 |-- SexoVitima: string (nullable = true)
 |-- Vitimas: integer (nullable = true)

+---+---------+---+---+----------+-------+
| UF|TipoCrime|Ano|Mes|SexoVitima|Vitimas|
+---+---------+---+---+----------+-------+
+---+---------+---+---+----------+-------+

+----+----------------+----+---------+----------+-------+
|UF  |TipoCrime       |Ano |Mes      |SexoVitima|Vitimas|
+----+----------------+----+---------+----------+-------+
|Acre|Homicídio doloso|2021|janeiro  |Feminino  |1      |
|Acre|Homicídio doloso|2021|janeiro  |Masculino |13     |
|Acre|Homicídio doloso|2021|janeiro  |Sexo NI   |0      |
|Acre|Homicídio doloso|2021|fevereiro|Feminino  |4      |
|Acre|Homicídio doloso|2021|fevereiro|Masculino |12     |
+----+----------------+----+---------+----------+-------+
only showing top 5 rows

+--------------+-----------------------------------+----+----------+------------+
|UF            |TipoCrime                          |Ano |SexoVitima|sum(Vitimas)|
+--------------+-----------------------------------+----+----------+------------+
|Rio de Janeiro|Homicídio doloso                   |2020|Feminino  |274         |
|Rio de Janeiro|Lesão corporal seguida de morte    |2020|Feminino  |6           |
|Rio de Janeiro|Roubo seguido de morte (latrocínio)|2020|Feminino  |6           |
+--------------+-----------------------------------+----+----------+------------+

+--------------+-----------------------------------+----+----------+------------+
|UF            |TipoCrime                          |Ano |SexoVitima|sum(Vitimas)|
+--------------+-----------------------------------+----+----------+------------+
|Rio de Janeiro|Homicídio doloso                   |2020|Masculino |3076        |
|Rio de Janeiro|Lesão corporal seguida de morte    |2020|Masculino |25          |
|Rio de Janeiro|Roubo seguido de morte (latrocínio)|2020|Masculino |80          |
+--------------+-----------------------------------+----+----------+------------+

+--------------+-----------------------------------+----+----------+------------+
|UF            |TipoCrime                          |Ano |SexoVitima|sum(Vitimas)|
+--------------+-----------------------------------+----+----------+------------+
|Rio de Janeiro|Homicídio doloso                   |2020|Sexo NI   |182         |
|Rio de Janeiro|Lesão corporal seguida de morte    |2020|Sexo NI   |0           |
|Rio de Janeiro|Roubo seguido de morte (latrocínio)|2020|Sexo NI   |0           |
+--------------+-----------------------------------+----+----------+------------+

HEADER | AGGREGATE | SUM

In [229]:
# ALTERANDO CABEÇALHO

file_path_1 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_despesas_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_1):
    data = pd.read_csv(file_path_1,
                       sep=',', 
                       encoding='UTF-8')

esquema=['UF', 
         'Desp_2016', 
         'Desp_2017', 
         'Desp_2018', 
         'Desp_2019', 
         'Desp_2020', 
         'Variacao_%', 
         'Previsao_2021_Media']

df_1_consulta = spark.createDataFrame(data, schema=esquema)

df_1_consulta.show(5, truncate=False)

# --------------------------------------------

# AGREGANDO O TOTAL DE DESPESAS GOVERNAMENTAIS DO PARANA REFERENTES AOS ULTIMOS 3 ANOS

df_1_consulta.select('UF', 'Desp_2018', 'Desp_2019', 'Desp_2020')\
.filter((df_1_consulta.UF == 'Paraná'))\
.groupBy('UF', 'Desp_2018', 'Desp_2019', 'Desp_2020')\
.agg(F.sum(df_1_consulta.Desp_2018 + 
           df_1_consulta.Desp_2019 + 
           df_1_consulta.Desp_2020).alias('PR_Despesas_Totais_Milhoes'))\
.show()

+--------+------------------+---------+------------------+---------+------------------+----------+-------------------+
|UF      |Desp_2016         |Desp_2017|Desp_2018         |Desp_2019|Desp_2020         |Variacao_%|Previsao_2021_Media|
+--------+------------------+---------+------------------+---------+------------------+----------+-------------------+
|Acre    |498.535           |568.361  |627.351           |692.57   |493.75300000000004|8.5       |576.114            |
|Amapá   |475.32300000000004|500.227  |489.228           |606.366  |752.252           |52.3      |564.6792           |
|Amazonas|1604.7320000000002|1578.957 |1862.6689999999999|2108.46  |2101.447          |60.4      |1851.253           |
|Pará    |2551.741          |2579.916 |2903.2            |2943.448 |2966.553          |58.0      |2788.9716          |
|Rondônia|874.8739999999999 |895.868  |903.2539999999999 |853.971  |999.044           |-14.7     |905.4022           |
+--------+------------------+---------+------------------+---------+------------------+----------+-------------------+
only showing top 5 rows

+------+---------+---------+---------+--------------------------+
|    UF|Desp_2018|Desp_2019|Desp_2020|PR_Despesas_Totais_Milhoes|
+------+---------+---------+---------+--------------------------+
|Paraná| 4159.687| 3986.055| 3687.002|                 11832.744|
+------+---------+---------+---------+--------------------------+

FILTERS

In [230]:
# FILTRANDO INTERVALOS

# IGUAL A 90% E MAIOR QUE 20 %
df_6.filter(
    (df_6.Media_Freq_15_a_17_anos == '90 %') & 
    (df_6.Media_Freq_15_a_17_anos > '20 %'))\
.select('UF', 'Media_Freq_15_a_17_anos')\
.orderBy(F.desc('Media_Freq_15_a_17_anos'))\
.show(5, truncate=False)

# IGUAL E MENOR A 40 % OU IGUAL E MAIOR QUE 20 %
df_6.filter(
    (df_6.Media_Freq_18_a_24_anos <= '40 %') |
    (df_6.Media_Freq_18_a_24_anos >= '20 %'))\
.select('UF', 'Media_Freq_18_a_24_anos')\
.orderBy(F.desc('Media_Freq_18_a_24_anos'))\
.show(5, truncate=False)

# IGUAL E MENOR QUE 20 % OU MAIOR QUE 8 %
df_6.filter(
    (df_6.Media_Freq_25_anos_ou_mais <= '20 %') |
    (df_6.Media_Freq_25_anos_ou_mais > '8 %'))\
.select('UF', 'Media_Freq_25_anos_ou_mais')\
.orderBy(F.desc('Media_Freq_25_anos_ou_mais'))\
.show(5, truncate=False)

+--------+-----------------------+
|UF      |Media_Freq_15_a_17_anos|
+--------+-----------------------+
|Amazonas|90 %                   |
|Roraima |90 %                   |
|Pará    |90 %                   |
|Paraíba |90 %                   |
|Bahia   |90 %                   |
+--------+-----------------------+
only showing top 5 rows

+----------------+-----------------------+
|UF              |Media_Freq_18_a_24_anos|
+----------------+-----------------------+
|Espírito Santo  |47 %                   |
|Distrito Federal|44 %                   |
|Paraíba         |44 %                   |
|Brasília        |44 %                   |
|Santa Catarina  |44 %                   |
+----------------+-----------------------+
only showing top 5 rows

+----+--------------------------+
|UF  |Media_Freq_25_anos_ou_mais|
+----+--------------------------+
|Acre|9 %                       |
+----+--------------------------+

### EXPORTANDO DATAFRAMES

DATAFRAME 3

In [231]:
# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
df_3 = df_3.toPandas()
df_3.to_csv('temp_pyspark_tabela_vitimas_sexo.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_tabela_vitimas_sexo.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_tabela_vitimas_sexo.csv')

DATAFRAME 6

In [232]:
# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
df_6 = df_6.toPandas()
df_6.to_csv('temp_pyspark_tabela_frequencia_escolar_normalizado.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_tabela_frequencia_escolar_normalizado.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_tabela_frequencia_escolar_normalizado.csv')

DATAFRAME 7

In [233]:
# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
df_7 = df_7.toPandas()
df_7.to_csv('temp_pyspark_tabela_TaxaAnalfabetismo_normalizado.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_tabela_TaxaAnalfabetismo_normalizado.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_tabela_TaxaAnalfabetismo_normalizado.csv')

JOINT AGREGAÇÃO 1

In [234]:
# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
df_join_1 = df_join_1.toPandas()
df_join_1.to_csv('temp_pyspark_agg_1_General_Data.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_agg_1_General_Data.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_agg_1_General_Data.csv')

JOIN AGREGAÇÃO 2

In [235]:
# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
df_join_4 = df_join_4.toPandas()
df_join_4.to_csv('temp_pyspark_agg_2_Freq_Escolar_Taxa_Analfa.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_agg_2_Freq_Escolar_Taxa_Analfa.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_agg_2_Freq_Escolar_Taxa_Analfa.csv')

JOIN AGREGAÇÃO 3

In [236]:
# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
df_join_5 = df_join_5.toPandas()
df_join_5.to_csv('temp_pyspark_agg_3_general_data_2020.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_agg_3_general_data_2020.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_agg_3_general_data_2020.csv')