<a href="https://colab.research.google.com/github/MarianaDuartee/ProjetoFinal/blob/main/2_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### INSTALANDO DEPENDECIAS

In [ ]:
!pip install pyspark
!pip install gcsfs
!pip install pandas

### IMPORTANDO DATAFRAMES, BIBLIOTECAS, ABRINDO SPARKSESSION E CONFIGURANDO CHAVE DE SERVIÇO

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SQLContext
from google.cloud import storage
from pyspark.sql.types import *
from pyspark.sql.types import DateType

import pyspark
import pyspark.sql.functions as F
import os
import gcsfs
import pandas as pd

In [ ]:
spark = SparkSession.builder\
.master('local')\
.appName('Projeto_Final')\
.config('spark.ui.enable', 'true')\
.config('spark.ui.port', '4050')\
.getOrCreate()

spark

serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount

### EXTRAINDO INFORMAÇÕES E ANALISANDO DATAFRAMES

In [210]:
'''https://acervolima.com/como-converter-pandas-para-pyspark-dataframe/'''

# ARQUIVO 1
file_path_1 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_despesas_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_1):
    data = pd.read_csv(file_path_1, sep=',', encoding='UTF-8', header=0)

df_1 = spark.createDataFrame(data)

# --------------------------------------------

#ARQUIVO 2
file_path_2 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencias_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_2):
    data = pd.read_json(file_path_2, encoding='UTF-8')

df_2 = spark.createDataFrame(data)

# --------------------------------------------

#ARQUIVO 3
file_path_3 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_vitimas_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_3):
    data = pd.read_json(file_path_3, encoding='UTF-8')

df_3 = spark.createDataFrame(data)

# --------------------------------------------

#ARQUIVO 4
file_path_4 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencias_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_4):
    data = pd.read_json(file_path_4, encoding='UTF-8')

df_4 = spark.createDataFrame(data)

# --------------------------------------------

#ARQUIVO 5
file_path_5 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencia_vitimas_porAnoEstado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_5):
    data = pd.read_csv(file_path_5, sep=',', encoding='UTF-8')

df_5 = spark.createDataFrame(data)

# --------------------------------------------

# ARQUIVO 6
file_path_6 = 'gs://data_lake_ingest_data/1_input/Tabela_frequencia_escolar.xlsx'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_6):
    data = pd.read_excel(file_path_6, header=0)

df_6 = spark.createDataFrame(data)

# --------------------------------------------

# ARQUIVO 7
file_path_7 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_taxa_analfabetismo_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_7):
    data = pd.read_csv(file_path_7, header=0)

df_7 = spark.createDataFrame(data)

# --------------------------------------------

df_1.printSchema()
df_1.show(5, truncate=False)
df_1.dtypes

df_2.printSchema()
df_2.show(5, truncate=False)
df_2.dtypes

df_3.printSchema()
df_3.show(5, truncate=False)
df_3.dtypes

df_4.printSchema()
df_4.show(5, truncate=False)
df_4.dtypes

df_5.printSchema()
df_5.show(5, truncate=False)
df_5.dtypes

df_6.printSchema()
df_6.show(5, truncate=False)
df_6.dtypes

df_7.printSchema()
df_7.show(5, truncate=False)
df_7.dtypes

root
 |-- UF: string (nullable = true)
 |-- Despesas2016: double (nullable = true)
 |-- Despesas2017: double (nullable = true)
 |-- Despesas2018: double (nullable = true)
 |-- Despesas2019: double (nullable = true)
 |-- Despesas2020: double (nullable = true)
 |-- Variacao%: double (nullable = true)
 |-- Previsao2021|Media: double (nullable = true)

+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|UF      |Despesas2016      |Despesas2017|Despesas2018      |Despesas2019|Despesas2020      |Variacao%|Previsao2021|Media|
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|Acre    |498.535           |568.361     |627.351           |692.57      |493.75300000000004|8.5      |576.114           |
|Amapá   |475.32300000000004|500.227     |489.228           |606.366     |752.252           |52.3     |564.6792          |
|Amazonas|1604.7320000000002|1578.957    |1862.6689999999999|2108.46     |2101.447          |60.4     |1851.253          |
|Pará    |2551.741          |2579.916    |2903.2            |2943.448    |2966.553          |58.0     |2788.9716         |
|Rondônia|874.8739999999999 |895.868     |903.2539999999999 |853.971     |999.044           |-14.7    |905.4022          |
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
only showing top 5 rows

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)

+----+-------------------------------+----+-------+-----------+
|UF  |TipoCrime                      |Ano |Mes    |Ocorrencias|
+----+-------------------------------+----+-------+-----------+
|Acre|Estupro                        |2021|janeiro|39         |
|Acre|Furto de veículo               |2021|janeiro|55         |
|Acre|Homicídio doloso               |2021|janeiro|14         |
|Acre|Lesão corporal seguida de morte|2021|janeiro|0          |
|Acre|Roubo a instituição financeira |2021|janeiro|0          |
+----+-------------------------------+----+-------+-----------+
only showing top 5 rows

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- SexoVitima: string (nullable = true)
 |-- Vitimas: long (nullable = true)

+----+----------------+----+---------+----------+-------+
|UF  |TipoCrime       |Ano |Mes      |SexoVitima|Vitimas|
+----+----------------+----+---------+----------+-------+
|Acre|Homicídio doloso|2021|janeiro  |Feminino  |1      |
|Acre|Homicídio doloso|2021|janeiro  |Masculino |13     |
|Acre|Homicídio doloso|2021|janeiro  |Sexo NI   |0      |
|Acre|Homicídio doloso|2021|fevereiro|Feminino  |4      |
|Acre|Homicídio doloso|2021|fevereiro|Masculino |12     |
+----+----------------+----+---------+----------+-------+
only showing top 5 rows

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)

+----+-------------------------------+----+-------+-----------+
|UF  |TipoCrime                      |Ano |Mes    |Ocorrencias|
+----+-------------------------------+----+-------+-----------+
|Acre|Estupro                        |2021|janeiro|39         |
|Acre|Furto de veículo               |2021|janeiro|55         |
|Acre|Homicídio doloso               |2021|janeiro|14         |
|Acre|Lesão corporal seguida de morte|2021|janeiro|0          |
|Acre|Roubo a instituição financeira |2021|janeiro|0          |
+----+-------------------------------+----+-------+-----------+
only showing top 5 rows

root
 |-- UF: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)
 |-- Vitimas: long (nullable = true)

+----+----+-----------------------------------+-----------+-------+
|UF  |Ano |TipoCrime                          |Ocorrencias|Vitimas|
+----+----+-----------------------------------+-----------+-------+
|Acre|2016|Homicídio doloso                   |425        |354    |
|Acre|2017|Homicídio doloso                   |221        |232    |
|Acre|2017|Lesão corporal seguida de morte    |0          |3      |
|Acre|2017|Roubo seguido de morte (latrocínio)|10         |15     |
|Acre|2018|Homicídio doloso                   |396        |394    |
+----+----+-----------------------------------+-----------+-------+
only showing top 5 rows

root
 |-- Grandes Regiões, Unidades da Federação e Municípios das Capitais: string (nullable = true)
 |-- 15 a 17 anos - 2019: double (nullable = true)
 |-- 15 a 17 anos - 2018: double (nullable = true)
 |-- 15 a 17 anos - 2017: double (nullable = true)
 |-- 15 a 17 anos - 2016: double (nullable = true)
 |-- Media 15 a 17 anos: double (nullable = true)
 |-- 18 a 24 anos - 2019: double (nullable = true)
 |-- 18 a 24 anos - 2018: double (nullable = true)
 |-- 18 a 24 anos - 2017: double (nullable = true)
 |-- 18 a 24 anos - 2016: double (nullable = true)
 |-- média 18 a 24 anos: double (nullable = true)
 |-- 25 anos ou mais - 2019: double (nullable = true)
 |-- 25 anos ou mais - 2018: double (nullable = true)
 |-- 25 anos ou mais - 2017: double (nullable = true)
 |-- 25 anos ou mais - 2016: double (nullable = true)
 |-- média 25 anos ou mais: double (nullable = true)

+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
|Grandes Regiões, Unidades da Federação e Municípios das Capitais|15 a 17 anos - 2019|15 a 17 anos - 2018|15 a 17 anos - 2017|15 a 17 anos - 2016|Media 15 a 17 anos|18 a 24 anos - 2019|18 a 24 anos - 2018|18 a 24 anos - 2017|18 a 24 anos - 2016|média 18 a 24 anos|25 anos ou mais - 2019|25 anos ou mais - 2018|25 anos ou mais - 2017|25 anos ou mais - 2016|média 25 anos ou mais|
+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
|Brasil                                                          |89.17198948374096  |88.2426144204458   |86.56451335197876  |87.5617260467917   |87.8852108257393  |32.41407932745226  |34.53417795470805  |33.360253247817255 |34.17581270855951  |33.62108080963427 |4.504817075471089     |5.675049480395514     |5.8222092845937174    |6.05481441288333      |5.514222563335913    |
|Norte                                                           |88.74982729136596  |87.13363699314166  |86.18634784748102  |86.23343843334908  |87.07581264133444 |33.277336088584065 |30.55755225551167  |31.889367675874244 |31.40075605450034  |31.781253018617576|5.300311202284845     |4.738200441644607     |4.829205200490404     |6.316555051054046     |5.2960679738684755   |
|Rondônia                                                        |88.5758890715434   |87.61083310627495  |88.09353317895633  |86.80829519027922  |87.77213763676347 |31.917363776805303 |36.46044648717471  |42.381697360736936 |39.412875441641646 |37.543095766589644|5.696628237780432     |6.806092080969176     |8.094231628524204     |10.102827665601428    |7.67494490321881     |
|Porto Velho                                                     |88.95162805125744  |82.5532772565588   |84.18183233290323  |86.43959488451544  |85.53158313130872 |38.26167802729192  |33.024090303693306 |35.08011605454825  |39.44302117520716  |36.45222639018516 |7.482369141571613     |8.496009939035124     |7.956949796455643     |10.15315072431738     |8.52211990034494     |
|Acre                                                            |84.98448999182288  |87.17335055657942  |86.65851673769289  |86.68539677641571  |86.37543851562772 |33.834860833327035 |38.86751169841704  |42.36043012159184  |42.89214761645621  |39.488737567448034|6.9339672958134075    |10.321757609195592    |9.98524514543419      |10.493120889846796    |9.433522735072497    |
+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
only showing top 5 rows

root
 |-- Unnamed: 0: long (nullable = true)
 |-- UF: string (nullable = true)
 |-- Grupo_idade: string (nullable = true)
 |-- TaxaAnalfabetismo2016: double (nullable = true)
 |-- TaxaAnalfabetismo2017: double (nullable = true)
 |-- TaxaAnalfabetismo2018: double (nullable = true)
 |-- TaxaAnalfabetismo2019: double (nullable = true)

+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
|Unnamed: 0|UF      |Grupo_idade    |TaxaAnalfabetismo2016|TaxaAnalfabetismo2017|TaxaAnalfabetismo2018|TaxaAnalfabetismo2019|
+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
|0         |Rondônia|15 anos ou mais|6.6                  |7.2                  |6.5                  |6.4                  |
|1         |Acre    |15 anos ou mais|13.1                 |12.1                 |12.1                 |11.7                 |
|2         |Amazonas|15 anos ou mais|6.9                  |6.1                  |5.8                  |5.4                  |
|3         |Roraima |15 anos ou mais|6.6                  |6.0                  |6.0                  |5.0                  |
|4         |Pará    |15 anos ou mais|9.2                  |8.6                  |8.8                  |8.4                  |
+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
only showing top 5 rows

[('Unnamed: 0', 'bigint'),
 ('UF', 'string'),
 ('Grupo_idade', 'string'),
 ('TaxaAnalfabetismo2016', 'double'),
 ('TaxaAnalfabetismo2017', 'double'),
 ('TaxaAnalfabetismo2018', 'double'),
 ('TaxaAnalfabetismo2019', 'double')]

### NORMALIZANDO DATAFRAMES

In [ ]:
# DATAFRAME 1
df_1 = df_1.drop('Estimativa_2021', 'Previsao2021Media')
df_1 = df_1.drop('Estimativa_2021', 'Previsao2021Media')
df_1 = df_1.withColumnRenamed('Media Anual', 'Estimativa_Despesa_2021')
df_1 = df_1.withColumnRenamed('Previsao2021|Media', 'Previsao2021_Media')

df_1.show()

In [ ]:
# DATAFRAME 2
df_2.show(truncate=False)

In [ ]:
# DATAFRAME 3
df_3.show(truncate=False)

In [ ]:
# DATAFRAME 4
df_4.show(truncate=False)

In [ ]:
# DATAFRAME 5
df_5.show(truncate=False)

In [212]:
# DATAFRAME 6

# DROPANDO COLUNAS
df_6 = df_6.drop('15 a 17 anos - 2019', 
                 '15 a 17 anos - 2018',
                 '15 a 17 anos - 2017',
                 '15 a 17 anos - 2016',
                 '18 a 24 anos - 2019',
                 '18 a 24 anos - 2018',
                 '18 a 24 anos - 2017',
                 '18 a 24 anos - 2016',
                 '25 anos ou mais - 2019',
                 '25 anos ou mais - 2018',
                 '25 anos ou mais - 2017',
                 '25 anos ou mais - 2016')

# RENOMEANDO COLUNAS FAIXA DE IDADE
df_6 = df_6.withColumnRenamed('Grandes Regiões, Unidades da Federação e Municípios das Capitais', 'UF')
df_6 = df_6.withColumnRenamed('Media 15 a 17 anos', 'Media_Freq_15_a_17_anos')
df_6 = df_6.withColumnRenamed('média 18 a 24 anos', 'Media_Freq_18_a_24_anos')
df_6 = df_6.withColumnRenamed('média 25 anos ou mais', 'Media_Freq_25_anos_ou_mais')

# FILTRO PARA REMOVER REGIÕES E CAPITAIS
df_6 = df_6.filter((df_6.UF != "Brasil") & 
            (df_6.UF != "Norte") & 
            (df_6.UF != "Nordeste") &
            (df_6.UF != "Sudeste") & 
            (df_6.UF != "Sul") &
            (df_6.UF != "Centro-Oeste") &
            (df_6.UF != "Porto Velho") &
            (df_6.UF != "Rio Branco") &
            (df_6.UF != "Manaus") &
            (df_6.UF != "Boa Vista") &
            (df_6.UF != "Macapá") &
            (df_6.UF != "Palmas") &
            (df_6.UF != "São Luiz") &
            (df_6.UF != "Teresina") &
            (df_6.UF != "Fortaleza") &
            (df_6.UF != "Natal") &
            (df_6.UF != "joão Pessoa") &
            (df_6.UF != "Recife") &
            (df_6.UF != "Maceió") &
            (df_6.UF != "Aracaju") &
            (df_6.UF != "Salvador") &
            (df_6.UF != "Belo Horizonte") &
            (df_6.UF != "Vitória") &
            (df_6.UF != "Curitiba") &
            (df_6.UF != "Florianópolis") &
            (df_6.UF != "Porto Alegre") &
            (df_6.UF != "Campo Grande") &
            (df_6.UF != "Cuiabá") &
            (df_6.UF != "Goiânia") &
            (df_6.UF != "Brasilia"))\
            .orderBy('UF', ascending=True)

# # INCREMENTANDO TAXA DE EVASÃO
# df_6 = df_6.withColumn('Evasao_11_a_14_anos', (df_5.Freq_11_a_14_anos - 100)) 
# df_6 = df_6.withColumn('Evasao_15_a_17_anos', (df_5.Freq_11_a_14_anos - 100))
# df_6 = df_6.withColumn('Evasao_18_a_24_anos', (df_5.Freq_11_a_14_anos - 100))
# df_6 = df_6.withColumn('Evasao_25_anos_ou_mais', (df_5.Freq_11_a_14_anos - 100))

# CONVERTENDO VALORES EM PORCENTAGEM
'''https://stackoverflow.com/questions/60673912/how-to-convert-number-into-percentage'''

df_6 = df_6\
.withColumn("Media_Freq_15_a_17_anos", F.concat((F.col("Media_Freq_15_a_17_anos") * 1).cast("int"), F.lit(' %')))\
.withColumn("Media_Freq_18_a_24_anos", F.concat((F.col("Media_Freq_18_a_24_anos") * 1).cast("int"), F.lit(' %')))\
.withColumn("Media_Freq_25_anos_ou_mais", F.concat((F.col("Media_Freq_25_anos_ou_mais") * 1).cast("int"), F.lit(' %')))
# .withColumn("Media_Freq_Escolar", F.concat((F.col("Media_Freq_Escolar") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_11_a_14_anos", F.concat((F.col("Evasao_11_a_14_anos") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_15_a_17_anos", F.concat((F.col("Evasao_15_a_17_anos") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_18_a_24_anos", F.concat((F.col("Evasao_18_a_24_anos") * 1).cast("int"), F.lit(' %')))\
# .withColumn("Evasao_25_anos_ou_mais", F.concat((F.col("Evasao_25_anos_ou_mais") * 1).cast("int"), F.lit(' %')))

# AJUSTANDO EXIBIÇÃO DO DATAFRAME
df_6 = df_6.select('UF', 
                   'Media_Freq_15_a_17_anos', 
                #    'Evasao_11_a_14_anos',
                   'Media_Freq_18_a_24_anos',
                #    'Evasao_15_a_17_anos',
                   'Media_Freq_25_anos_ou_mais',
                #    'Evasao_18_a_24_anos',
                #    'Freq_25_anos_ou_mais',
                #    'Evasao_25_anos_ou_mais',
                #    'Media_Freq_Escolar'
               )

'''https://sparkbyexamples.com/pyspark/convert-pyspark-dataframe-to-pandas/'''

# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
# df_join_3 = df_join_3.toPandas()
# print(df_join_3)

# EXPORTANDO DATAFRAME EM CSV

'https://sparkbyexamples.com/pyspark/convert-pyspark-dataframe-to-pandas/'

In [ ]:
# df_6 = df_6.toPandas()
df_6.to_csv('temp_pyspark_tabela_frequencia_escolar_normalizado.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_tabela_frequencia_escolar_normalizado.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_tabela_frequencia_escolar_normalizado.csv')

In [ ]:
# DATAFRAME 7
df_7 = df_7.drop('Grupo_idade')
df_7 = df_7.drop('Unnamed: 0')

df_7 = df_7\
.withColumn("TaxaAnalfabetismo2016", F.concat((F.col("TaxaAnalfabetismo2016") * 1).cast("int"), F.lit(' %')))\
.withColumn("TaxaAnalfabetismo2017", F.concat((F.col("TaxaAnalfabetismo2017") * 1).cast("int"), F.lit(' %')))\
.withColumn("TaxaAnalfabetismo2018", F.concat((F.col("TaxaAnalfabetismo2018") * 1).cast("int"), F.lit(' %')))\
.withColumn("TaxaAnalfabetismo2019", F.concat((F.col("TaxaAnalfabetismo2019") * 1).cast("int"), F.lit(' %')))

df_7.show()

### AGREGANDO DADOS

In [ ]:
# VISUALIZAR DATAFRAMES TRATADOS

df_1.show(5, truncate=False)
df_2.show(5, truncate=False)
df_3.show(5, truncate=False)
df_4.show(5, truncate=False)
df_5.show(5, truncate=False)
df_6.show(5, truncate=False)
df_7.show(5, truncate=False)

In [ ]:
# AGREGAÇÃO 1

#AGRUPANDO VALORES DOS DATAFRAMES
df_ins2 = df_2.groupBy('UF').sum('Ocorrencias').orderBy('UF')
# df_ins2.show(50, truncate=False)

df_ins3 = df_3.groupBy('UF').sum('Vitimas').orderBy('UF')
# df_ins3.show(50, truncate=False)

# ------------------------------------------------------------

# JOIN 1
# AGREGA OS VALORES TOTAIS DE OCORRENCIAS E VITIMAS POR ESTADO 

df_join_1 = df_ins2.join(df_ins3, on=['UF'], how='inner')\
.select('UF', 'sum(Ocorrencias)', 'sum(Vitimas)')\
.orderBy(F.asc('UF'))

# df_join_1.show(50, False)

# ------------------------------------------------------------

# JOIN 2
# AGREGA OS VALORES TOTAIS DE OCORRENCIAS, VITIMAS, MEDIA DE FREQ. ESCOLAR POR ESTADO 

df_join_2 = df_join_1.join(df_6, on=['UF'], how='inner')\
.select('UF', 'sum(Ocorrencias)', 'sum(Vitimas)', 'Media_Freq_25_anos_ou_mais')\
.orderBy(F.asc('UF'))

# df_join_2.show(50, False)

# ------------------------------------------------------------

# JOIN 3
# AGREGA OS VALORES TOTAIS DE DESPESAS GOVERNAMENTAIS, OCORRENCIAS, VITIMAS, MEDIA DE FREQ. ESCOLAR POR ESTADO 

df_join_3 = df_join_2.join(df_1, on=['UF'], how='inner')\
.select('UF', 'Despesas2020', 'sum(Ocorrencias)', 'sum(Vitimas)', 'Media_Freq_25_anos_ou_mais')\
.orderBy(F.asc('UF'))

df_join_3\
.orderBy("Despesas2020", ascending=False)\
.show(50, False)

df_join_3.dtypes

In [217]:
# AGREGAÇÃO 2

# JOIN 1
# AGREGA OS VALORES TOTAIS DE OCORRENCIAS E VITIMAS POR ESTADO 

# ------------------------------------------------------------

df_join_1 = df_6.join(df_7, on=['UF'], how='inner')\
.select('UF', 'Media_Freq_15_a_17_anos', 'Media_Freq_18_a_24_anos', 'Media_Freq_25_anos_ou_mais', 
        'TaxaAnalfabetismo2016', 'TaxaAnalfabetismo2017', 'TaxaAnalfabetismo2018', 'TaxaAnalfabetismo2019')\
.orderBy(F.asc('UF'))\
.show()

# ------------------------------------------------------------

df_7 = df_7.toPandas()
df_7.to_csv('temp_pyspark_taxa_analfave_escolar_normalizado.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_tabela_frequencia_escolar_normalizado.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_tabela_frequencia_escolar_normalizado.csv')

+-------------------+-----------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------+---------------------+
|                 UF|Media_Freq_15_a_17_anos|Media_Freq_18_a_24_anos|Media_Freq_25_anos_ou_mais|TaxaAnalfabetismo2016|TaxaAnalfabetismo2017|TaxaAnalfabetismo2018|TaxaAnalfabetismo2019|
+-------------------+-----------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------+---------------------+
|               Acre|                   86 %|                   39 %|                       9 %|                 13 %|                 12 %|                 12 %|                 11 %|
|            Alagoas|                   85 %|                   35 %|                       4 %|                 19 %|                 18 %|                 17 %|                 17 %|
|              Amapá|                   88 %|                   42 %|                       7 %|                  5 %|                  5 %|                  6 %|                  5 %|
|           Amazonas|                   90 %|                   39 %|                       7 %|                  6 %|                  6 %|                  5 %|                  5 %|
|              Bahia|                   90 %|                   43 %|                       7 %|                 13 %|                 12 %|                 12 %|                 12 %|
|              Ceará|                   88 %|                   33 %|                       5 %|                 15 %|                 14 %|                 13 %|                 13 %|
|   Distrito Federal|                   91 %|                   44 %|                       6 %|                  2 %|                  2 %|                  3 %|                  2 %|
|     Espírito Santo|                   92 %|                   47 %|                       6 %|                  6 %|                  5 %|                  5 %|                  5 %|
|              Goiás|                   87 %|                   39 %|                       5 %|                  6 %|                  5 %|                  5 %|                  5 %|
|           Maranhão|                   87 %|                   35 %|                       6 %|                 16 %|                 16 %|                 16 %|                 15 %|
|        Mato Grosso|                   90 %|                   39 %|                       7 %|                  6 %|                  6 %|                  7 %|                  6 %|
| Mato Grosso do Sul|                   90 %|                   39 %|                       6 %|                  6 %|                  5 %|                  5 %|                  5 %|
|       Minas Gerais|                   92 %|                   37 %|                       6 %|                  6 %|                  6 %|                  5 %|                  5 %|
|             Paraná|                   87 %|                   41 %|                       5 %|                  4 %|                  4 %|                  5 %|                  4 %|
|            Paraíba|                   90 %|                   44 %|                       6 %|                 16 %|                 16 %|                 16 %|                 16 %|
|               Pará|                   90 %|                   39 %|                       6 %|                  9 %|                  8 %|                  8 %|                  8 %|
|         Pernambuco|                   88 %|                   33 %|                       5 %|                 12 %|                 13 %|                 11 %|                 11 %|
|              Piauí|                   94 %|                   42 %|                       6 %|                 17 %|                 16 %|                 16 %|                 16 %|
|Rio Grande do Norte|                   92 %|                   41 %|                       5 %|                 14 %|                 13 %|                 12 %|                 13 %|
|  Rio Grande do Sul|                   89 %|                   43 %|                       7 %|                  3 %|                  3 %|                  3 %|                  2 %|
+-------------------+-----------------------+-----------------------+--------------------------+---------------------+---------------------+---------------------+---------------------+
only showing top 20 rows

In [ ]:
# AGREGAÇÃO 3

#AGRUPANDO VALORES DOS DATAFRAMES
df_agg_1 = df_2.filter(df_2.Ano == 2020)\
.groupBy('UF').sum('Ocorrencias').alias('Ocorrencias_2020').orderBy('UF')

df_agg_1.show()

# ------------------------------------------------------------

df_agg_2 = df_3.filter(df_3.Ano == 2020)\
.groupBy('UF').sum('Vitimas').alias('Vitimas_2020').orderBy('UF')

df_agg_2.show()

# ------------------------------------------------------------

df_agg_3 = df_1.select('Despesas2020').alias('Despesas_2020')

df_agg_3.show()

# AGREGA OS VALORES PELO ANO DE 2020

df_join_1 = df.join(df_ins3, on=['UF'], how='inner')\
.select('UF', 'sum(Ocorrencias)', 'sum(Vitimas)')\
.orderBy(F.asc('UF'))

### EXPORTANDO DATAFRAME

In [ ]:
'''https://sparkbyexamples.com/pyspark/convert-pyspark-dataframe-to-pandas/'''

# TRANSFORMARDO DATAFRAME PYSPAK EM PANDAS
df_join_3 = df_join_3.toPandas()
print(df_join_3)

# EXPORTANDO DATAFRAME EM CSV
df_join_3.to_csv('temp_pyspark_aggregation_1.csv')

BUCKET_NAME= "data_lake_ingest_data"
storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

fileout = "2_temp/temp_pyspark_aggregation_1.csv"
destination_blob = bucket.blob(fileout)
destination_blob.upload_from_filename('/content/temp_pyspark_aggregation_1.csv')