<a href="https://colab.research.google.com/github/MarianaDuartee/ProjetoFinal/blob/main/3_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Instalando  dependencias

In [ ]:
!pip install pyspark
!pip install gcsfs
!pip install pandas

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)
Requirement already satisfied: gcsfs in /usr/local/lib/python3.7/dist-packages (2021.11.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: fsspec==2021.11.0 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2021.11.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (2.0.7)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (5.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (4.0.1)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (0.13.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.2.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (3.10.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (21.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.2.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.53.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

##Importando dataframes, bibliotecas e abrindo Sparksession

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SQLContext
from google.cloud import storage
from pyspark.sql.types import *
from pyspark.sql.types import DateType

import pyspark
import pyspark.sql.functions as F
import os
import gcsfs
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Criando uma conexão Spark e configurando chave de serviço

In [ ]:
spark = SparkSession.builder\
.master('local')\
.appName('Projeto_Final')\
.config('spark.ui.enable', 'true')\
.config('spark.ui.port', '4050')\
.getOrCreate()

spark

serviceaccount = '/content/drive/MyDrive/SoulCode/Projeto Final/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount

## Dataframes exportados do PySpark

Separar as planilhas e alterar o arquivo da planilha 6. Acrescentar planilha 7

df_ 1 - Planilha de despesas com segurança publica

In [ ]:
file_path_1 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_despesas_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_1):
    data = pd.read_csv(file_path_1, sep=',', encoding='UTF-8', header=0)

df_1 = spark.createDataFrame(data)
df = df_1.createOrReplaceTempView('df_1')

#df_1.printSchema()
#df_1.dtypes

df_1.show(5, truncate=False)

+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|UF      |Despesas2016      |Despesas2017|Despesas2018      |Despesas2019|Despesas2020      |Variacao%|Previsao2021|Media|
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|Acre    |498.535           |568.361     |627.351           |692.57      |493.75300000000004|8.5      |576.114           |
|Amapá   |475.32300000000004|500.227     |489.228           |606.366     |752.252           |52.3     |564.6792          |
|Amazonas|1604.7320000000002|1578.957    |1862.6689999999999|2108.46     |2101.447          |60.4     |1851.253          |
|Pará    |2551.741          |2579.916    |2903.2            |2943.448    |2966.553          |58.0     |2788.9716         |
|Rondônia|874.8739999999999 |895.868     |903.2539999999999 |853.971     |999.044           |-14.7    |905.4022          |
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
only showing top 5 rows

df_2 - Numero de ocorrencias

In [ ]:
file_path_2 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencias_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_2):
    data = pd.read_json(file_path_2, encoding='UTF-8')

df_2 = spark.createDataFrame(data)
df = df_2.createOrReplaceTempView('df_2')

#df_2.printSchema()
#df_2.dtypes

df_2.show(5, truncate=False)

+----+-------------------------------+----+-------+-----------+
|UF  |TipoCrime                      |Ano |Mes    |Ocorrencias|
+----+-------------------------------+----+-------+-----------+
|Acre|Estupro                        |2021|janeiro|39         |
|Acre|Furto de veículo               |2021|janeiro|55         |
|Acre|Homicídio doloso               |2021|janeiro|14         |
|Acre|Lesão corporal seguida de morte|2021|janeiro|0          |
|Acre|Roubo a instituição financeira |2021|janeiro|0          |
+----+-------------------------------+----+-------+-----------+
only showing top 5 rows

df_3 - Tipo de Ocorrencias com sexo e numero de vitimas Brasil 2021 (dados até junho)

In [ ]:
file_path_3 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_vitimas_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_3):
    data = pd.read_json(file_path_3, encoding='UTF-8')

df_3 = spark.createDataFrame(data)
df = df_3.createOrReplaceTempView('df_3')

#df_3.printSchema()
#df_3.dtypes

df_3.show(20, truncate=False)

+----+-------------------------------+----+---------+----------+-------+
|UF  |TipoCrime                      |Ano |Mes      |SexoVitima|Vitimas|
+----+-------------------------------+----+---------+----------+-------+
|Acre|Homicídio doloso               |2021|janeiro  |Feminino  |1      |
|Acre|Homicídio doloso               |2021|janeiro  |Masculino |13     |
|Acre|Homicídio doloso               |2021|janeiro  |Sexo NI   |0      |
|Acre|Homicídio doloso               |2021|fevereiro|Feminino  |4      |
|Acre|Homicídio doloso               |2021|fevereiro|Masculino |12     |
|Acre|Homicídio doloso               |2021|fevereiro|Sexo NI   |0      |
|Acre|Homicídio doloso               |2021|março    |Feminino  |2      |
|Acre|Homicídio doloso               |2021|março    |Masculino |24     |
|Acre|Homicídio doloso               |2021|março    |Sexo NI   |0      |
|Acre|Homicídio doloso               |2021|abril    |Feminino  |2      |
|Acre|Homicídio doloso               |2021|abril    |Masculino |16     |
|Acre|Homicídio doloso               |2021|abril    |Sexo NI   |0      |
|Acre|Homicídio doloso               |2021|maio     |Feminino  |2      |
|Acre|Homicídio doloso               |2021|maio     |Masculino |16     |
|Acre|Homicídio doloso               |2021|maio     |Sexo NI   |0      |
|Acre|Homicídio doloso               |2021|junho    |Feminino  |1      |
|Acre|Homicídio doloso               |2021|junho    |Masculino |17     |
|Acre|Homicídio doloso               |2021|junho    |Sexo NI   |0      |
|Acre|Lesão corporal seguida de morte|2021|janeiro  |Feminino  |0      |
|Acre|Lesão corporal seguida de morte|2021|janeiro  |Masculino |0      |
+----+-------------------------------+----+---------+----------+-------+
only showing top 20 rows

In [ ]:
file_path_4 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencias_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_4):
    data = pd.read_json(file_path_4, encoding='UTF-8')

df_4 = spark.createDataFrame(data)
df = df_4.createOrReplaceTempView('df_4')

#df_4.printSchema()
#df_4.dtypes

df_4.show(5, truncate=False)

+----+-------------------------------+----+-------+-----------+
|UF  |TipoCrime                      |Ano |Mes    |Ocorrencias|
+----+-------------------------------+----+-------+-----------+
|Acre|Estupro                        |2021|janeiro|39         |
|Acre|Furto de veículo               |2021|janeiro|55         |
|Acre|Homicídio doloso               |2021|janeiro|14         |
|Acre|Lesão corporal seguida de morte|2021|janeiro|0          |
|Acre|Roubo a instituição financeira |2021|janeiro|0          |
+----+-------------------------------+----+-------+-----------+
only showing top 5 rows

df_5 - Ocorrencias vitimas por estado e tipo de ocorrencia

In [ ]:
#ARQUIVO 5
file_path_5 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencia_vitimas_porAnoEstado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_5):
    data = pd.read_csv(file_path_5, sep=',', encoding='UTF-8')

df_5 = spark.createDataFrame(data)
df = df_5.createOrReplaceTempView('df_5')

#df_5.printSchema()
#df_5.dtypes

df_5.show(5, truncate=False)

+----+----+-----------------------------------+-----------+-------+
|UF  |Ano |TipoCrime                          |Ocorrencias|Vitimas|
+----+----+-----------------------------------+-----------+-------+
|Acre|2016|Homicídio doloso                   |425        |354    |
|Acre|2017|Homicídio doloso                   |221        |232    |
|Acre|2017|Lesão corporal seguida de morte    |0          |3      |
|Acre|2017|Roubo seguido de morte (latrocínio)|10         |15     |
|Acre|2018|Homicídio doloso                   |396        |394    |
+----+----+-----------------------------------+-----------+-------+
only showing top 5 rows

df-6 - Frequencia escolar Brasil anos de 2016 a 2019 por faixa de idade

In [ ]:
file_path_6 = 'gs://data_lake_ingest_data/2_temp/temp_pyspark_tabela_frequencia_escolar_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_6):
    data = pd.read_csv(file_path_6, header=0)

df_6 = spark.createDataFrame(data)
df = df_6.createOrReplaceTempView('df_6')

#df_6.printSchema()
#df_6.dtypes

df_6.show(5, truncate=False)

+----------+--------+-----------------------+-----------------------+--------------------------+
|Unnamed: 0|UF      |Media_Freq_15_a_17_anos|Media_Freq_18_a_24_anos|Media_Freq_25_anos_ou_mais|
+----------+--------+-----------------------+-----------------------+--------------------------+
|0         |Acre    |86 %                   |39 %                   |9 %                       |
|1         |Alagoas |85 %                   |35 %                   |4 %                       |
|2         |Amapá   |88 %                   |42 %                   |7 %                       |
|3         |Amazonas|90 %                   |39 %                   |7 %                       |
|4         |Bahia   |90 %                   |43 %                   |7 %                       |
+----------+--------+-----------------------+-----------------------+--------------------------+
only showing top 5 rows

df_7 Tabela de taxa de analfabetismo anos de 2016 a 2019

In [ ]:
file_path_6 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_taxa_analfabetismo_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_6):
    data = pd.read_csv(file_path_6, header=0)

df_7 = spark.createDataFrame(data)
df = df_7.createOrReplaceTempView('df_7')

#df_7.printSchema()
#df_7.dtypes

df_7.show(5, truncate=False)

+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
|Unnamed: 0|UF      |Grupo_idade    |TaxaAnalfabetismo2016|TaxaAnalfabetismo2017|TaxaAnalfabetismo2018|TaxaAnalfabetismo2019|
+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
|0         |Rondônia|15 anos ou mais|6.6                  |7.2                  |6.5                  |6.4                  |
|1         |Acre    |15 anos ou mais|13.1                 |12.1                 |12.1                 |11.7                 |
|2         |Amazonas|15 anos ou mais|6.9                  |6.1                  |5.8                  |5.4                  |
|3         |Roraima |15 anos ou mais|6.6                  |6.0                  |6.0                  |5.0                  |
|4         |Pará    |15 anos ou mais|9.2                  |8.6                  |8.8                  |8.4                  |
+----------+--------+---------------+---------------------+---------------------+---------------------+---------------------+
only showing top 5 rows

##Realizando algumas analises no SparkSQL

Total de ocorrencias criminais por Estado (nos anos de 2016 a 2021) Está correto 2021??? De quando foi essa analise?

In [ ]:
spark.sql(
'''
SELECT UF, SUM(Ocorrencias) AS Total_Ocorrencias_por_estado
FROM df_5
GROUP BY UF
ORDER BY UF ASC
'''
).show()

+-------------------+----------------------------+
|                 UF|Total_Ocorrencias_por_estado|
+-------------------+----------------------------+
|               Acre|                        1776|
|            Alagoas|                        7642|
|              Amapá|                        1599|
|           Amazonas|                        6098|
|              Bahia|                       31016|
|              Ceará|                       19895|
|   Distrito Federal|                        2547|
|     Espírito Santo|                        6549|
|              Goiás|                       11116|
|           Maranhão|                       10276|
|        Mato Grosso|                        5299|
| Mato Grosso do Sul|                        2762|
|       Minas Gerais|                       17835|
|             Paraná|                       10102|
|            Paraíba|                        6411|
|               Pará|                       17664|
|         Pernambuco|                       21823|
|              Piauí|                        3622|
|Rio Grande do Norte|                        9203|
|  Rio Grande do Sul|                       12397|
+-------------------+----------------------------+
only showing top 20 rows

Quantidade de vitimas do sexo feminino por tipo de crime

In [ ]:
spark.sql(
  
'''
SELECT TipoCrime,
COUNT (Vitimas) AS Feminino
FROM df_3
WHERE SexoVitima = 'Feminino'
GROUP BY TipoCrime
'''

).show()

+--------------------+--------+
|           TipoCrime|Feminino|
+--------------------+--------+
|Roubo seguido de ...|    1380|
|    Homicídio doloso|    1715|
|Lesão corporal se...|    1300|
+--------------------+--------+

Quantidade de vitimas do sexo maculino por tipo de crime

In [ ]:
spark.sql(
  
'''
SELECT TipoCrime, 
COUNT (Vitimas) AS Masculino
FROM df_3
WHERE SexoVitima = 'Masculino'
GROUP BY TipoCrime
'''

).show()

+--------------------+---------+
|           TipoCrime|Masculino|
+--------------------+---------+
|Roubo seguido de ...|     1640|
|    Homicídio doloso|     1746|
|Lesão corporal se...|     1513|
+--------------------+---------+

Somando a quantidade de vitimas por sexo e tipo de crime

In [ ]:
spark.sql(
  
'''
SELECT TipoCrime, SexoVitima, SUM(Vitimas) AS SomaVitimas
FROM df_3
GROUP BY TipoCrime,SexoVitima
ORDER BY TipoCrime
'''

).show(10)

+--------------------+----------+-----------+
|           TipoCrime|SexoVitima|SomaVitimas|
+--------------------+----------+-----------+
|    Homicídio doloso| Masculino|     228612|
|    Homicídio doloso|   Sexo NI|       8624|
|    Homicídio doloso|  Feminino|      20834|
|Lesão corporal se...|   Sexo NI|        305|
|Lesão corporal se...|  Feminino|        527|
|Lesão corporal se...| Masculino|       3663|
|Roubo seguido de ...| Masculino|       8786|
|Roubo seguido de ...|   Sexo NI|        457|
|Roubo seguido de ...|  Feminino|       1056|
+--------------------+----------+-----------+



Comparando a quantidade de ocorrencias com taxa de analfabetismo

In [ ]:
spark.sql(
'''
SELECT  df_5.UF AS Estado, 
        df_5.TipoCrime AS TipoCrime, 
        df_5.Ocorrencias AS Ocorrencias, 
        df_7.TaxaAnalfabetismo2019 AS Anafalbetismo
FROM df_5 
INNER JOIN df_7 
ON (df_5.UF = df_7.UF)
WHERE df_5.Ano = 2019
'''
).show()

+----------------+--------------------+-----------+-------------+
|          Estado|           TipoCrime|Ocorrencias|Anafalbetismo|
+----------------+--------------------+-----------+-------------+
|            Acre|    Homicídio doloso|        292|         11.7|
|            Acre|Lesão corporal se...|          2|         11.7|
|            Acre|Roubo seguido de ...|         14|         11.7|
|         Alagoas|    Homicídio doloso|       1028|         17.1|
|         Alagoas|Lesão corporal se...|          6|         17.1|
|         Alagoas|Roubo seguido de ...|         17|         17.1|
|           Amapá|    Homicídio doloso|        232|          5.5|
|           Amapá|Lesão corporal se...|         23|          5.5|
|           Amapá|Roubo seguido de ...|         15|          5.5|
|        Amazonas|    Homicídio doloso|        984|          5.4|
|        Amazonas|Lesão corporal se...|         23|          5.4|
|        Amazonas|Roubo seguido de ...|         46|          5.4|
|           Bahia|    Homicídio doloso|       4751|         12.9|
|           Bahia|Lesão corporal se...|         74|         12.9|
|           Bahia|Roubo seguido de ...|        139|         12.9|
|           Ceará|    Homicídio doloso|       2087|         13.6|
|           Ceará|Lesão corporal se...|         30|         13.6|
|           Ceará|Roubo seguido de ...|         36|         13.6|
|Distrito Federal|    Homicídio doloso|        372|          2.7|
|Distrito Federal|Lesão corporal se...|          4|          2.7|
+----------------+--------------------+-----------+-------------+
only showing top 20 rows

Comparando a quantidade de ocorrencias de 2019 com frequencia escolar com idade acima de 20 anos

In [ ]:
spark.sql(
'''
SELECT  df_5.UF AS Estado, 
        df_5.TipoCrime AS TipoCrime, 
        df_5.Ocorrencias AS Ocorrencias, 
        df_6.Media_Freq_25_anos_ou_mais AS Freq_2016a2019
FROM df_5 
INNER JOIN df_6 
ON (df_5.UF = df_6.UF)
WHERE df_5.Ano = 2019
'''
).show()

+----------------+--------------------+-----------+--------------+
|          Estado|           TipoCrime|Ocorrencias|Freq_2016a2019|
+----------------+--------------------+-----------+--------------+
|            Acre|    Homicídio doloso|        292|           9 %|
|            Acre|Lesão corporal se...|          2|           9 %|
|            Acre|Roubo seguido de ...|         14|           9 %|
|         Alagoas|    Homicídio doloso|       1028|           4 %|
|         Alagoas|Lesão corporal se...|          6|           4 %|
|         Alagoas|Roubo seguido de ...|         17|           4 %|
|           Amapá|    Homicídio doloso|        232|           7 %|
|           Amapá|Lesão corporal se...|         23|           7 %|
|           Amapá|Roubo seguido de ...|         15|           7 %|
|        Amazonas|    Homicídio doloso|        984|           7 %|
|        Amazonas|Lesão corporal se...|         23|           7 %|
|        Amazonas|Roubo seguido de ...|         46|           7 %|
|           Bahia|    Homicídio doloso|       4751|           7 %|
|           Bahia|Lesão corporal se...|         74|           7 %|
|           Bahia|Roubo seguido de ...|        139|           7 %|
|           Ceará|    Homicídio doloso|       2087|           5 %|
|           Ceará|Lesão corporal se...|         30|           5 %|
|           Ceará|Roubo seguido de ...|         36|           5 %|
|Distrito Federal|    Homicídio doloso|        372|           6 %|
|Distrito Federal|Lesão corporal se...|          4|           6 %|
+----------------+--------------------+-----------+--------------+
only showing top 20 rows

Comparando o numero de ocorrencias com valor investido para segurança publica no ano de 2019

In [ ]:
spark.sql(
'''
SELECT  df_5.UF AS Estado, 
        df_5.TipoCrime AS TipoCrime, 
        df_5.Ocorrencias AS Ocorrencias, 
        df_1.Despesas2019 AS Investimento
FROM df_1 
INNER JOIN df_5 
ON (df_5.UF = df_1.UF)
WHERE df_5.Ano = 2019
'''
).show(10)

+--------+--------------------+-----------+------------------+
|  Estado|           TipoCrime|Ocorrencias|      Investimento|
+--------+--------------------+-----------+------------------+
|    Acre|    Homicídio doloso|        292|            692.57|
|    Acre|Lesão corporal se...|          2|            692.57|
|    Acre|Roubo seguido de ...|         14|            692.57|
| Alagoas|    Homicídio doloso|       1028|1159.1589999999999|
| Alagoas|Lesão corporal se...|          6|1159.1589999999999|
| Alagoas|Roubo seguido de ...|         17|1159.1589999999999|
|   Amapá|    Homicídio doloso|        232|           606.366|
|   Amapá|Lesão corporal se...|         23|           606.366|
|   Amapá|Roubo seguido de ...|         15|           606.366|
|Amazonas|    Homicídio doloso|        984|           2108.46|
+--------+--------------------+-----------+------------------+
only showing top 10 rows

Ranking a taxa de anafalbetismo por estado

In [ ]:
spark.sql(
'''
SELECT UF, TaxaAnalfabetismo2019,
RANK() OVER (ORDER BY TaxaAnalfabetismo2019 DESC) AS Rank
FROM df_7
'''
).show(27)

+-------------------+---------------------+----+
|                 UF|TaxaAnalfabetismo2019|Rank|
+-------------------+---------------------+----+
|            Alagoas|                 17.1|   1|
|            Paraíba|                 16.1|   2|
|              Piauí|                 16.0|   3|
|           Maranhão|                 15.6|   4|
|              Ceará|                 13.6|   5|
|            Sergipe|                 13.5|   6|
|Rio Grande do Norte|                 13.4|   7|
|              Bahia|                 12.9|   8|
|         Pernambuco|                 11.9|   9|
|               Acre|                 11.7|  10|
|          Tocantins|                  9.7|  11|
|               Pará|                  8.4|  12|
|           Rondônia|                  6.4|  13|
|        Mato Grosso|                  6.2|  14|
|              Amapá|                  5.5|  15|
|       Minas Gerais|                  5.5|  15|
|           Amazonas|                  5.4|  17|
|     Espírito Santo|                  5.3|  18|
| Mato Grosso do Sul|                  5.1|  19|
|              Goiás|                  5.1|  19|
|            Roraima|                  5.0|  21|
|             Paraná|                  4.6|  22|
|   Distrito Federal|                  2.7|  23|
|          São Paulo|                  2.6|  24|
|  Rio Grande do Sul|                  2.6|  24|
|     Santa Catarina|                  2.3|  26|
|     Rio de Janeiro|                  2.1|  27|
+-------------------+---------------------+----+