<a href="https://colab.research.google.com/github/MarianaDuartee/ProjetoFinal/blob/main/3_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Instalando  dependencias

In [ ]:
!pip install pyspark
!pip install gcsfs
!pip install pandas

##Importando dataframes, bibliotecas e abrindo Sparksession

In [3]:
from pyspark.sql import SparkSession
from pyspark import SQLContext
from google.cloud import storage
from pyspark.sql.types import *
from pyspark.sql.types import DateType

import pyspark
import pyspark.sql.functions as F
import os
import gcsfs
import pandas as pd

##Criando uma conexão Spark e configurando chave de serviço

In [4]:
spark = SparkSession.builder\
.master('local')\
.appName('Projeto_Final')\
.config('spark.ui.enable', 'true')\
.config('spark.ui.port', '4050')\
.getOrCreate()

spark

serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount

### **EXTRAINDO INFORMAÇÕES E ANALISANDO DATAFRAMES**

Separar as planilhas e alterar o arquivo da planilha 6. Acrescentar planilha 7

In [7]:
# ARQUIVO 1
file_path_1 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_despesas_normalizado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_1):
    data = pd.read_csv(file_path_1, sep=',', encoding='UTF-8', header=0)

df_1 = spark.createDataFrame(data)
df = df_1.createOrReplaceTempView('df_1')

# --------------------------------------------

#ARQUIVO 2
file_path_2 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencias_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_2):
    data = pd.read_json(file_path_2, encoding='UTF-8')

df_2 = spark.createDataFrame(data)
df = df_2.createOrReplaceTempView('df_2')


# --------------------------------------------

#ARQUIVO 3
file_path_3 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_vitimas_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_3):
    data = pd.read_json(file_path_3, encoding='UTF-8')

df_3 = spark.createDataFrame(data)
df = df_3.createOrReplaceTempView('df_3')

# --------------------------------------------

#ARQUIVO 4
file_path_4 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencias_normalizado.json'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_4):
    data = pd.read_json(file_path_4, encoding='UTF-8')

df_4 = spark.createDataFrame(data)
df = df_4.createOrReplaceTempView('df_4')

# --------------------------------------------

#ARQUIVO 5
file_path_5 = 'gs://data_lake_ingest_data/2_temp/temp_pandas_ocorrencia_vitimas_porAnoEstado.csv'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_5):
    data = pd.read_csv(file_path_5, sep=',', encoding='UTF-8')

df_5 = spark.createDataFrame(data)
df = df_5.createOrReplaceTempView('df_5')

# --------------------------------------------

# ARQUIVO 6
file_path_6 = 'gs://data_lake_ingest_data/1_input/Tabela_frequencia_escolar.xlsx'

fs = gcsfs.GCSFileSystem(project='soulcode-projeto-final', token=serviceaccount)
with fs.open(file_path_6):
    data = pd.read_excel(file_path_6, header=0)

df_6 = spark.createDataFrame(data)
df = df_6.createOrReplaceTempView('df_6')

# --------------------------------------------

df_1.printSchema()
df_1.dtypes

df_2.printSchema()
df_2.dtypes

df_3.printSchema()
df_3.dtypes

df_4.printSchema()
df_4.dtypes

df_5.printSchema()
df_5.dtypes

root
 |-- UF: string (nullable = true)
 |-- Despesas2016: double (nullable = true)
 |-- Despesas2017: double (nullable = true)
 |-- Despesas2018: double (nullable = true)
 |-- Despesas2019: double (nullable = true)
 |-- Despesas2020: double (nullable = true)
 |-- Variacao%: double (nullable = true)
 |-- Previsao2021|Media: double (nullable = true)

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- SexoVitima: string (nullable = true)
 |-- Vitimas: long (nullable = true)

root
 |-- UF: string (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- Mes: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)

root
 |-- UF: string (nullable = true)
 |-- Ano: long (nullable = true)
 |-- TipoCrime: string (nullable = true)
 |-- Ocorrencias: long (nullable = true)
 |-- Vitimas: long (nullable = true)

[('UF', 'string'),
 ('Ano', 'bigint'),
 ('TipoCrime', 'string'),
 ('Ocorrencias', 'bigint'),
 ('Vitimas', 'bigint')]

###VISUALIZANDO DAS DFs

In [9]:

df_1.show(5, truncate=False)

+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|UF      |Despesas2016      |Despesas2017|Despesas2018      |Despesas2019|Despesas2020      |Variacao%|Previsao2021|Media|
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
|Acre    |498.535           |568.361     |627.351           |692.57      |493.75300000000004|8.5      |576.114           |
|Amapá   |475.32300000000004|500.227     |489.228           |606.366     |752.252           |52.3     |564.6792          |
|Amazonas|1604.7320000000002|1578.957    |1862.6689999999999|2108.46     |2101.447          |60.4     |1851.253          |
|Pará    |2551.741          |2579.916    |2903.2            |2943.448    |2966.553          |58.0     |2788.9716         |
|Rondônia|874.8739999999999 |895.868     |903.2539999999999 |853.971     |999.044           |-14.7    |905.4022          |
+--------+------------------+------------+------------------+------------+------------------+---------+------------------+
only showing top 5 rows

In [ ]:
df_2.show(1000, truncate=False)

In [11]:
df_3.show(5, truncate=False)

+----+----------------+----+---------+----------+-------+
|UF  |TipoCrime       |Ano |Mes      |SexoVitima|Vitimas|
+----+----------------+----+---------+----------+-------+
|Acre|Homicídio doloso|2021|janeiro  |Feminino  |1      |
|Acre|Homicídio doloso|2021|janeiro  |Masculino |13     |
|Acre|Homicídio doloso|2021|janeiro  |Sexo NI   |0      |
|Acre|Homicídio doloso|2021|fevereiro|Feminino  |4      |
|Acre|Homicídio doloso|2021|fevereiro|Masculino |12     |
+----+----------------+----+---------+----------+-------+
only showing top 5 rows

In [12]:
df_4.show(5, truncate=False)

+----+-------------------------------+----+-------+-----------+
|UF  |TipoCrime                      |Ano |Mes    |Ocorrencias|
+----+-------------------------------+----+-------+-----------+
|Acre|Estupro                        |2021|janeiro|39         |
|Acre|Furto de veículo               |2021|janeiro|55         |
|Acre|Homicídio doloso               |2021|janeiro|14         |
|Acre|Lesão corporal seguida de morte|2021|janeiro|0          |
|Acre|Roubo a instituição financeira |2021|janeiro|0          |
+----+-------------------------------+----+-------+-----------+
only showing top 5 rows

In [42]:
df_5.show(20, truncate=False)

+-------+----+-----------------------------------+-----------+-------+
|UF     |Ano |TipoCrime                          |Ocorrencias|Vitimas|
+-------+----+-----------------------------------+-----------+-------+
|Acre   |2016|Homicídio doloso                   |425        |354    |
|Acre   |2017|Homicídio doloso                   |221        |232    |
|Acre   |2017|Lesão corporal seguida de morte    |0          |3      |
|Acre   |2017|Roubo seguido de morte (latrocínio)|10         |15     |
|Acre   |2018|Homicídio doloso                   |396        |394    |
|Acre   |2018|Roubo seguido de morte (latrocínio)|20         |20     |
|Acre   |2019|Homicídio doloso                   |292        |298    |
|Acre   |2019|Lesão corporal seguida de morte    |2          |3      |
|Acre   |2019|Roubo seguido de morte (latrocínio)|14         |12     |
|Acre   |2020|Homicídio doloso                   |271        |273    |
|Acre   |2020|Lesão corporal seguida de morte    |1          |1      |
|Acre   |2020|Roubo seguido de morte (latrocínio)|11         |11     |
|Acre   |2021|Homicídio doloso                   |108        |110    |
|Acre   |2021|Lesão corporal seguida de morte    |1          |1      |
|Acre   |2021|Roubo seguido de morte (latrocínio)|4          |4      |
|Alagoas|2016|Homicídio doloso                   |1659       |1695   |
|Alagoas|2016|Lesão corporal seguida de morte    |9          |9      |
|Alagoas|2016|Roubo seguido de morte (latrocínio)|61         |61     |
|Alagoas|2017|Homicídio doloso                   |1672       |1706   |
|Alagoas|2017|Lesão corporal seguida de morte    |19         |19     |
+-------+----+-----------------------------------+-----------+-------+
only showing top 20 rows

In [44]:
df_6.show(5, truncate=False)

+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
|Grandes Regiões, Unidades da Federação e Municípios das Capitais|15 a 17 anos - 2019|15 a 17 anos - 2018|15 a 17 anos - 2017|15 a 17 anos - 2016|Media 15 a 17 anos|18 a 24 anos - 2019|18 a 24 anos - 2018|18 a 24 anos - 2017|18 a 24 anos - 2016|média 18 a 24 anos|25 anos ou mais - 2019|25 anos ou mais - 2018|25 anos ou mais - 2017|25 anos ou mais - 2016|média 25 anos ou mais|
+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
|Brasil                                                          |89.17198948374096  |88.2426144204458   |86.56451335197876  |87.5617260467917   |87.8852108257393  |32.41407932745226  |34.53417795470805  |33.360253247817255 |34.17581270855951  |33.62108080963427 |4.504817075471089     |5.675049480395514     |5.8222092845937174    |6.05481441288333      |5.514222563335913    |
|Norte                                                           |88.74982729136596  |87.13363699314166  |86.18634784748102  |86.23343843334908  |87.07581264133444 |33.277336088584065 |30.55755225551167  |31.889367675874244 |31.40075605450034  |31.781253018617576|5.300311202284845     |4.738200441644607     |4.829205200490404     |6.316555051054046     |5.2960679738684755   |
|Rondônia                                                        |88.5758890715434   |87.61083310627495  |88.09353317895633  |86.80829519027922  |87.77213763676347 |31.917363776805303 |36.46044648717471  |42.381697360736936 |39.412875441641646 |37.543095766589644|5.696628237780432     |6.806092080969176     |8.094231628524204     |10.102827665601428    |7.67494490321881     |
|Porto Velho                                                     |88.95162805125744  |82.5532772565588   |84.18183233290323  |86.43959488451544  |85.53158313130872 |38.26167802729192  |33.024090303693306 |35.08011605454825  |39.44302117520716  |36.45222639018516 |7.482369141571613     |8.496009939035124     |7.956949796455643     |10.15315072431738     |8.52211990034494     |
|Acre                                                            |84.98448999182288  |87.17335055657942  |86.65851673769289  |86.68539677641571  |86.37543851562772 |33.834860833327035 |38.86751169841704  |42.36043012159184  |42.89214761645621  |39.488737567448034|6.9339672958134075    |10.321757609195592    |9.98524514543419      |10.493120889846796    |9.433522735072497    |
+----------------------------------------------------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+----------------------+----------------------+----------------------+----------------------+---------------------+
only showing top 5 rows

##Realizando algumas analises

###Total de ocorrencias criminais por Estado (nos anos de 2016 a 2021) Está correto 2021??? De quando foi essa analise?

In [43]:
spark.sql(
'''
SELECT UF, SUM(Ocorrencias) AS Total_Ocorrencias_por_estado
FROM df_5
GROUP BY UF
ORDER BY UF ASC
'''
).show()

+-------------------+----------------------------+
|                 UF|Total_Ocorrencias_por_estado|
+-------------------+----------------------------+
|               Acre|                        1776|
|            Alagoas|                        7642|
|              Amapá|                        1599|
|           Amazonas|                        6098|
|              Bahia|                       31016|
|              Ceará|                       19895|
|   Distrito Federal|                        2547|
|     Espírito Santo|                        6549|
|              Goiás|                       11116|
|           Maranhão|                       10276|
|        Mato Grosso|                        5299|
| Mato Grosso do Sul|                        2762|
|       Minas Gerais|                       17835|
|             Paraná|                       10102|
|            Paraíba|                        6411|
|               Pará|                       17664|
|         Pernambuco|                       21823|
|              Piauí|                        3622|
|Rio Grande do Norte|                        9203|
|  Rio Grande do Sul|                       12397|
+-------------------+----------------------------+
only showing top 20 rows