<a href="https://colab.research.google.com/github/MarianaDuartee/ProjetoFinal/blob/main/ProjetoFinalPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install gcsfs

Requirement already satisfied: gcsfs in /usr/local/lib/python3.7/dist-packages (2021.11.0)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: fsspec==2021.11.0 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2021.11.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.7.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (21.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (2.0.7)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.2.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (3.10.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (5.2.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (0.13.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.53.0)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2.4.7)

In [ ]:
import pandas as pd

# Evolução de despesas

In [ ]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df = pd.read_csv('gs://data_lake_ingest_data/1_input/EvolucaoDespesas_FREE.csv')
df

           Regiões e UF               2011  ...               2020 Variação (em %)
0                 Norte   6.394.328.586,52  ...   8.763.954.594,78            37,1
1                  Acre     454.915.616,43  ...     493.753.295,05             8,5
2                 Amapá     493.902.125,45  ...     752.252.498,84            52,3
3              Amazonas   1.310.339.510,65  ...   2.101.446.656,49            60,4
4                  Pará   1.877.141.957,50  ...   2.966.553.398,06            58,0
5              Rondônia   1.171.454.453,24  ...     999.043.935,87           -14,7
6               Roraima     235.883.558,36  ...     391.178.398,82            65,8
7             Tocantins     850.691.364,90  ...   1.059.726.411,65            24,6
8               Alagoas   1.156.902.298,83  ...   1.354.986.271,10            17,1
9                 Bahia   4.159.170.807,43  ...   4.321.663.327,23             3,9
10                Ceará   1.562.044.939,45  ...   3.045.582.668,99            95,0
11             Maranhão   1.156.511.230,70  ...   1.954.383.775,43            69,0
12              Paraíba   1.033.648.850,01  ...   1.417.591.703,65            37,1
13           Pernambuco   3.203.175.332,74  ...   2.880.151.335,77           -10,1
14                Piauí     388.475.623,71  ...     785.831.782,84           102,3
15  Rio Grande do Norte     946.744.271,95  ...   1.038.218.393,89             9,7
16              Sergipe   1.098.925.303,81  ...     956.784.404,13           -12,9
17                Goiás   2.126.487.455,46  ...   3.191.756.073,42            50,1
18          Mato Grosso   1.729.230.808,55  ...   2.577.010.278,49            49,0
19   Mato Grosso do Sul   1.422.302.901,30  ...   1.240.097.629,22           -12,8
20     Distrito Federal     507.655.625,07  ...     976.512.801,87            92,4
21       Espírito Santo   1.305.730.180,21  ...   1.408.398.431,23             7,9
22         Minas Gerais  10.716.751.741,58  ...   8.987.254.187,84           -16,1
23            São Paulo  12.970.253.093,59  ...  11.935.651.972,97            -8,0
24       Rio de Janeiro   7.392.018.631,03  ...   9.450.563.276,46            27,8
25               Paraná   2.601.468.224,80  ...   3.687.001.806,21            41,7
26    Rio Grande do Sul   3.044.759.130,66  ...   5.530.741.787,01            81,6
27       Santa Catarina   2.404.010.102,35  ...   2.406.363.535,30             0,1

[28 rows x 12 columns]

In [ ]:
df.head()

  Regiões e UF              2011  ...              2020 Variação (em %)
0        Norte  6.394.328.586,52  ...  8.763.954.594,78            37,1
1         Acre    454.915.616,43  ...    493.753.295,05             8,5
2        Amapá    493.902.125,45  ...    752.252.498,84            52,3
3     Amazonas  1.310.339.510,65  ...  2.101.446.656,49            60,4
4         Pará  1.877.141.957,50  ...  2.966.553.398,06            58,0

[5 rows x 12 columns]

In [ ]:
def alterar_numeros(col):
  novo = []
  for row in col:
    row = row.replace(".","")
    row = row.replace(",",".")
    novo.append(row)
  return novo

In [ ]:
ano_val = 2011
for i in range(10):
  ano_str = str(ano_val)
  df[ano_str] = alterar_numeros(df[ano_str])
  ano_val = ano_val + 1
  #print(ano_str)

In [ ]:
df["Variação (em %)"] = alterar_numeros(df["Variação (em %)"])

In [ ]:
df.head()

  Regiões e UF           2011  ...           2020 Variação (em %)
0        Norte  6394328586.52  ...  8763954594.78            37.1
1         Acre   454915616.43  ...   493753295.05             8.5
2        Amapá   493902125.45  ...   752252498.84            52.3
3     Amazonas  1310339510.65  ...  2101446656.49            60.4
4         Pará  1877141957.50  ...  2966553398.06            58.0

[5 rows x 12 columns]

In [ ]:
df['2011'] = pd.to_numeric(df['2011'])
df['2012'] = pd.to_numeric(df['2012'])
df['2013'] = pd.to_numeric(df['2013'])
df['2014'] = pd.to_numeric(df['2014'])
df['2015'] = pd.to_numeric(df['2015'])
df['2016'] = pd.to_numeric(df['2016'])
df['2017'] = pd.to_numeric(df['2017'])
df['2018'] = pd.to_numeric(df['2018'])
df['2019'] = pd.to_numeric(df['2019'])
df['2020'] = pd.to_numeric(df['2020'])

In [ ]:
df['Variação (em %)'] = pd.to_numeric(df['Variação (em %)'])

In [ ]:
df.dtypes

Regiões e UF        object
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
2016               float64
2017               float64
2018               float64
2019               float64
2020               float64
Variação (em %)    float64
dtype: object

In [ ]:
df.head()

  Regiões e UF          2011  ...          2020  Variação (em %)
0        Norte  6.394329e+09  ...  8.763955e+09             37.1
1         Acre  4.549156e+08  ...  4.937533e+08              8.5
2        Amapá  4.939021e+08  ...  7.522525e+08             52.3
3     Amazonas  1.310340e+09  ...  2.101447e+09             60.4
4         Pará  1.877142e+09  ...  2.966553e+09             58.0

[5 rows x 12 columns]

In [ ]:
df_back = df.copy()
df_back

           Regiões e UF          2011  ...          2020  Variação (em %)
0                 Norte  6.394329e+09  ...  8.763955e+09             37.1
1                  Acre  4.549156e+08  ...  4.937533e+08              8.5
2                 Amapá  4.939021e+08  ...  7.522525e+08             52.3
3              Amazonas  1.310340e+09  ...  2.101447e+09             60.4
4                  Pará  1.877142e+09  ...  2.966553e+09             58.0
5              Rondônia  1.171454e+09  ...  9.990439e+08            -14.7
6               Roraima  2.358836e+08  ...  3.911784e+08             65.8
7             Tocantins  8.506914e+08  ...  1.059726e+09             24.6
8               Alagoas  1.156902e+09  ...  1.354986e+09             17.1
9                 Bahia  4.159171e+09  ...  4.321663e+09              3.9
10                Ceará  1.562045e+09  ...  3.045583e+09             95.0
11             Maranhão  1.156511e+09  ...  1.954384e+09             69.0
12              Paraíba  1.033649e+09  ...  1.417592e+09             37.1
13           Pernambuco  3.203175e+09  ...  2.880151e+09            -10.1
14                Piauí  3.884756e+08  ...  7.858318e+08            102.3
15  Rio Grande do Norte  9.467443e+08  ...  1.038218e+09              9.7
16              Sergipe  1.098925e+09  ...  9.567844e+08            -12.9
17                Goiás  2.126487e+09  ...  3.191756e+09             50.1
18          Mato Grosso  1.729231e+09  ...  2.577010e+09             49.0
19   Mato Grosso do Sul  1.422303e+09  ...  1.240098e+09            -12.8
20     Distrito Federal  5.076556e+08  ...  9.765128e+08             92.4
21       Espírito Santo  1.305730e+09  ...  1.408398e+09              7.9
22         Minas Gerais  1.071675e+10  ...  8.987254e+09            -16.1
23            São Paulo  1.297025e+10  ...  1.193565e+10             -8.0
24       Rio de Janeiro  7.392019e+09  ...  9.450563e+09             27.8
25               Paraná  2.601468e+09  ...  3.687002e+09             41.7
26    Rio Grande do Sul  3.044759e+09  ...  5.530742e+09             81.6
27       Santa Catarina  2.404010e+09  ...  2.406364e+09              0.1

[28 rows x 12 columns]

In [ ]:
df.rename(columns={'Regiões e UF': 'UF'},inplace=True)

In [ ]:
df

                     UF          2011  ...          2020  Variação (em %)
0                 Norte  6.394329e+09  ...  8.763955e+09             37.1
1                  Acre  4.549156e+08  ...  4.937533e+08              8.5
2                 Amapá  4.939021e+08  ...  7.522525e+08             52.3
3              Amazonas  1.310340e+09  ...  2.101447e+09             60.4
4                  Pará  1.877142e+09  ...  2.966553e+09             58.0
5              Rondônia  1.171454e+09  ...  9.990439e+08            -14.7
6               Roraima  2.358836e+08  ...  3.911784e+08             65.8
7             Tocantins  8.506914e+08  ...  1.059726e+09             24.6
8               Alagoas  1.156902e+09  ...  1.354986e+09             17.1
9                 Bahia  4.159171e+09  ...  4.321663e+09              3.9
10                Ceará  1.562045e+09  ...  3.045583e+09             95.0
11             Maranhão  1.156511e+09  ...  1.954384e+09             69.0
12              Paraíba  1.033649e+09  ...  1.417592e+09             37.1
13           Pernambuco  3.203175e+09  ...  2.880151e+09            -10.1
14                Piauí  3.884756e+08  ...  7.858318e+08            102.3
15  Rio Grande do Norte  9.467443e+08  ...  1.038218e+09              9.7
16              Sergipe  1.098925e+09  ...  9.567844e+08            -12.9
17                Goiás  2.126487e+09  ...  3.191756e+09             50.1
18          Mato Grosso  1.729231e+09  ...  2.577010e+09             49.0
19   Mato Grosso do Sul  1.422303e+09  ...  1.240098e+09            -12.8
20     Distrito Federal  5.076556e+08  ...  9.765128e+08             92.4
21       Espírito Santo  1.305730e+09  ...  1.408398e+09              7.9
22         Minas Gerais  1.071675e+10  ...  8.987254e+09            -16.1
23            São Paulo  1.297025e+10  ...  1.193565e+10             -8.0
24       Rio de Janeiro  7.392019e+09  ...  9.450563e+09             27.8
25               Paraná  2.601468e+09  ...  3.687002e+09             41.7
26    Rio Grande do Sul  3.044759e+09  ...  5.530742e+09             81.6
27       Santa Catarina  2.404010e+09  ...  2.406364e+09              0.1

[28 rows x 12 columns]

In [ ]:
df.drop(columns=["2011", "2012","2013","2014"],inplace=True)
df

                     UF          2015  ...          2020  Variação (em %)
0                 Norte  7.838121e+09  ...  8.763955e+09             37.1
1                  Acre  5.349211e+08  ...  4.937533e+08              8.5
2                 Amapá  5.812735e+08  ...  7.522525e+08             52.3
3              Amazonas  1.697488e+09  ...  2.101447e+09             60.4
4                  Pará  2.652665e+09  ...  2.966553e+09             58.0
5              Rondônia  1.207414e+09  ...  9.990439e+08            -14.7
6               Roraima  3.734842e+08  ...  3.911784e+08             65.8
7             Tocantins  7.908751e+08  ...  1.059726e+09             24.6
8               Alagoas  1.320651e+09  ...  1.354986e+09             17.1
9                 Bahia  4.641372e+09  ...  4.321663e+09              3.9
10                Ceará  2.262494e+09  ...  3.045583e+09             95.0
11             Maranhão  1.438258e+09  ...  1.954384e+09             69.0
12              Paraíba  1.138345e+09  ...  1.417592e+09             37.1
13           Pernambuco  2.663761e+09  ...  2.880151e+09            -10.1
14                Piauí  2.854463e+08  ...  7.858318e+08            102.3
15  Rio Grande do Norte  9.996811e+08  ...  1.038218e+09              9.7
16              Sergipe  9.789115e+08  ...  9.567844e+08            -12.9
17                Goiás  3.726507e+09  ...  3.191756e+09             50.1
18          Mato Grosso  1.788680e+09  ...  2.577010e+09             49.0
19   Mato Grosso do Sul  1.341404e+09  ...  1.240098e+09            -12.8
20     Distrito Federal  8.416280e+08  ...  9.765128e+08             92.4
21       Espírito Santo  1.554968e+09  ...  1.408398e+09              7.9
22         Minas Gerais  1.093235e+10  ...  8.987254e+09            -16.1
23            São Paulo  1.406077e+10  ...  1.193565e+10             -8.0
24       Rio de Janeiro  1.084982e+10  ...  9.450563e+09             27.8
25               Paraná  4.110216e+09  ...  3.687002e+09             41.7
26    Rio Grande do Sul  3.817499e+09  ...  5.530742e+09             81.6
27       Santa Catarina  2.508439e+09  ...  2.406364e+09              0.1

[28 rows x 8 columns]

In [ ]:
for row in col:
    row = row.replace(".","")
    row = row.replace(",",".")
    novo.append(row)

In [ ]:
df.isnull().sum()

UF                 0
2015               0
2016               0
2017               0
2018               0
2019               0
2020               0
Variação (em %)    0
dtype: int64

In [ ]:
df.isna().sum()

UF                 0
2015               0
2016               0
2017               0
2018               0
2019               0
2020               0
Variação (em %)    0
dtype: int64

In [ ]:
pd.unique(df['UF'])

array(['Norte', 'Acre', 'Amapá', 'Amazonas', 'Pará', 'Rondônia',
       'Roraima', 'Tocantins', 'Alagoas', 'Bahia', 'Ceará', 'Maranhão',
       'Paraíba', 'Pernambuco', 'Piauí', 'Rio Grande do Norte', 'Sergipe',
       'Goiás', 'Mato Grosso', 'Mato Grosso do Sul', 'Distrito Federal',
       'Espírito Santo', 'Minas Gerais', 'São Paulo', 'Rio de Janeiro',
       'Paraná', 'Rio Grande do Sul', 'Santa Catarina'], dtype=object)

In [ ]:
pd.unique(df['2015'])

array([7.83812117e+09, 5.34921057e+08, 5.81273537e+08, 1.69748850e+09,
       2.65266474e+09, 1.20741402e+09, 3.73484246e+08, 7.90875077e+08,
       1.32065090e+09, 4.64137220e+09, 2.26249448e+09, 1.43825791e+09,
       1.13834531e+09, 2.66376116e+09, 2.85446299e+08, 9.99681139e+08,
       9.78911489e+08, 3.72650726e+09, 1.78867990e+09, 1.34140374e+09,
       8.41628045e+08, 1.55496814e+09, 1.09323499e+10, 1.40607740e+10,
       1.08498156e+10, 4.11021585e+09, 3.81749865e+09, 2.50843936e+09])

In [ ]:
pd.unique(df['2016'])

array([7.25402157e+09, 4.98534696e+08, 4.75323292e+08, 1.60473222e+09,
       2.55174077e+09, 8.74874024e+08, 4.08934197e+08, 8.39882380e+08,
       1.19664076e+09, 4.76059110e+09, 2.18831525e+09, 1.59347206e+09,
       1.28681001e+09, 2.65759777e+09, 8.04429478e+08, 1.21525679e+09,
       9.42150394e+08, 3.45590997e+09, 2.08554143e+09, 1.45952545e+09,
       8.12247442e+08, 1.50390232e+09, 1.02005787e+10, 1.26231183e+10,
       1.05166797e+10, 4.37822700e+09, 3.83029352e+09, 2.50461836e+09])

In [ ]:
pd.unique(df['2017'])

array([7.46210417e+09, 5.68361392e+08, 5.00226895e+08, 1.57895666e+09,
       2.57991598e+09, 8.95867664e+08, 4.40123923e+08, 8.98651660e+08,
       1.24451957e+09, 4.56907641e+09, 2.40023479e+09, 1.76478788e+09,
       1.29520682e+09, 2.80787365e+09, 7.92976806e+08, 9.83317470e+08,
       9.38500637e+08, 3.08474366e+09, 2.11865075e+09, 1.48722215e+09,
       9.09791592e+08, 1.51563932e+09, 1.01843955e+10, 1.28337885e+10,
       9.51764387e+09, 4.83239542e+09, 4.24206527e+09, 2.49920266e+09])

In [ ]:
pd.unique(df['2018'])

array([8.13077432e+09, 6.27350850e+08, 4.89227979e+08, 1.86266891e+09,
       2.90320019e+09, 9.03253857e+08, 4.05445805e+08, 9.39626724e+08,
       1.25122877e+09, 4.60102723e+09, 2.76333942e+09, 1.98031830e+09,
       1.35297153e+09, 2.97123151e+09, 7.99000413e+08, 1.04573647e+09,
       9.56072435e+08, 3.64316083e+09, 2.20407532e+09, 1.23386381e+09,
       9.05006406e+08, 1.57566735e+09, 9.90597493e+09, 1.22598003e+10,
       1.02224549e+10, 4.15968690e+09, 4.83582341e+09, 2.48483633e+09])

In [ ]:
pd.unique(df['2019'])

array([8.61220304e+09, 6.92570200e+08, 6.06366325e+08, 2.10845995e+09,
       2.94344754e+09, 8.53971000e+08, 2.88197942e+08, 1.11919009e+09,
       1.15915882e+09, 4.68240336e+09, 2.84235979e+09, 2.00365980e+09,
       1.38624045e+09, 2.98514529e+09, 8.93295942e+08, 1.20368406e+09,
       9.89128393e+08, 3.83927004e+09, 2.48687599e+09, 1.25936870e+09,
       9.31987487e+08, 1.42771422e+09, 9.30871390e+09, 1.23219640e+10,
       1.00352710e+10, 3.98605460e+09, 5.03874782e+09, 2.39613329e+09])

In [ ]:
pd.unique(df['2020'])

array([8.76395459e+09, 4.93753295e+08, 7.52252499e+08, 2.10144666e+09,
       2.96655340e+09, 9.99043936e+08, 3.91178399e+08, 1.05972641e+09,
       1.35498627e+09, 4.32166333e+09, 3.04558267e+09, 1.95438378e+09,
       1.41759170e+09, 2.88015134e+09, 7.85831783e+08, 1.03821839e+09,
       9.56784404e+08, 3.19175607e+09, 2.57701028e+09, 1.24009763e+09,
       9.76512802e+08, 1.40839843e+09, 8.98725419e+09, 1.19356520e+10,
       9.45056328e+09, 3.68700181e+09, 5.53074179e+09, 2.40636354e+09])

In [ ]:
indice = df.loc[df['UF'] == 'Norte'].index
df.drop(indice,axis=0,inplace=True)
df

                     UF          2015  ...          2020  Variação (em %)
1                  Acre  5.349211e+08  ...  4.937533e+08              8.5
2                 Amapá  5.812735e+08  ...  7.522525e+08             52.3
3              Amazonas  1.697488e+09  ...  2.101447e+09             60.4
4                  Pará  2.652665e+09  ...  2.966553e+09             58.0
5              Rondônia  1.207414e+09  ...  9.990439e+08            -14.7
6               Roraima  3.734842e+08  ...  3.911784e+08             65.8
7             Tocantins  7.908751e+08  ...  1.059726e+09             24.6
8               Alagoas  1.320651e+09  ...  1.354986e+09             17.1
9                 Bahia  4.641372e+09  ...  4.321663e+09              3.9
10                Ceará  2.262494e+09  ...  3.045583e+09             95.0
11             Maranhão  1.438258e+09  ...  1.954384e+09             69.0
12              Paraíba  1.138345e+09  ...  1.417592e+09             37.1
13           Pernambuco  2.663761e+09  ...  2.880151e+09            -10.1
14                Piauí  2.854463e+08  ...  7.858318e+08            102.3
15  Rio Grande do Norte  9.996811e+08  ...  1.038218e+09              9.7
16              Sergipe  9.789115e+08  ...  9.567844e+08            -12.9
17                Goiás  3.726507e+09  ...  3.191756e+09             50.1
18          Mato Grosso  1.788680e+09  ...  2.577010e+09             49.0
19   Mato Grosso do Sul  1.341404e+09  ...  1.240098e+09            -12.8
20     Distrito Federal  8.416280e+08  ...  9.765128e+08             92.4
21       Espírito Santo  1.554968e+09  ...  1.408398e+09              7.9
22         Minas Gerais  1.093235e+10  ...  8.987254e+09            -16.1
23            São Paulo  1.406077e+10  ...  1.193565e+10             -8.0
24       Rio de Janeiro  1.084982e+10  ...  9.450563e+09             27.8
25               Paraná  4.110216e+09  ...  3.687002e+09             41.7
26    Rio Grande do Sul  3.817499e+09  ...  5.530742e+09             81.6
27       Santa Catarina  2.508439e+09  ...  2.406364e+09              0.1

[27 rows x 8 columns]

In [ ]:
df.count()

UF                 27
2015               27
2016               27
2017               27
2018               27
2019               27
2020               27
Variação (em %)    27
dtype: int64

In [ ]:
df.groupby(['UF']).sum()

                             2015          2016  ...          2020  Variação (em %)
UF                                               ...
Acre                 5.349211e+08  4.985347e+08  ...  4.937533e+08              8.5
Alagoas              1.320651e+09  1.196641e+09  ...  1.354986e+09             17.1
Amapá                5.812735e+08  4.753233e+08  ...  7.522525e+08             52.3
Amazonas             1.697488e+09  1.604732e+09  ...  2.101447e+09             60.4
Bahia                4.641372e+09  4.760591e+09  ...  4.321663e+09              3.9
Ceará                2.262494e+09  2.188315e+09  ...  3.045583e+09             95.0
Distrito Federal     8.416280e+08  8.122474e+08  ...  9.765128e+08             92.4
Espírito Santo       1.554968e+09  1.503902e+09  ...  1.408398e+09              7.9
Goiás                3.726507e+09  3.455910e+09  ...  3.191756e+09             50.1
Maranhão             1.438258e+09  1.593472e+09  ...  1.954384e+09             69.0
Mato Grosso          1.788680e+09  2.085541e+09  ...  2.577010e+09             49.0
Mato Grosso do Sul   1.341404e+09  1.459525e+09  ...  1.240098e+09            -12.8
Minas Gerais         1.093235e+10  1.020058e+10  ...  8.987254e+09            -16.1
Paraná               4.110216e+09  4.378227e+09  ...  3.687002e+09             41.7
Paraíba              1.138345e+09  1.286810e+09  ...  1.417592e+09             37.1
Pará                 2.652665e+09  2.551741e+09  ...  2.966553e+09             58.0
Pernambuco           2.663761e+09  2.657598e+09  ...  2.880151e+09            -10.1
Piauí                2.854463e+08  8.044295e+08  ...  7.858318e+08            102.3
Rio Grande do Norte  9.996811e+08  1.215257e+09  ...  1.038218e+09              9.7
Rio Grande do Sul    3.817499e+09  3.830294e+09  ...  5.530742e+09             81.6
Rio de Janeiro       1.084982e+10  1.051668e+10  ...  9.450563e+09             27.8
Rondônia             1.207414e+09  8.748740e+08  ...  9.990439e+08            -14.7
Roraima              3.734842e+08  4.089342e+08  ...  3.911784e+08             65.8
Santa Catarina       2.508439e+09  2.504618e+09  ...  2.406364e+09              0.1
Sergipe              9.789115e+08  9.421504e+08  ...  9.567844e+08            -12.9
São Paulo            1.406077e+10  1.262312e+10  ...  1.193565e+10             -8.0
Tocantins            7.908751e+08  8.398824e+08  ...  1.059726e+09             24.6

[27 rows x 7 columns]

In [ ]:
col = df.loc[: , "2015":"2020"]
df['Media Anual'] = col.mean(axis=1)
df

In [ ]:
col1 = df["2020"]
col2 = df["Variação (em %)"]
df["Estimativa_2021"] = (col1+(col1*col2)/100)
df

                     UF          2015  ...   Media Anual  Estimativa_2021
1                  Acre  5.349211e+08  ...  5.692486e+08     5.357223e+08
2                 Amapá  5.812735e+08  ...  5.674451e+08     1.145681e+09
3              Amazonas  1.697488e+09  ...  1.825625e+09     3.370720e+09
4                  Pará  2.652665e+09  ...  2.766254e+09     4.687154e+09
5              Rondônia  1.207414e+09  ...  9.557374e+08     8.521845e+08
6               Roraima  3.734842e+08  ...  3.845608e+08     6.485738e+08
7             Tocantins  7.908751e+08  ...  9.413254e+08     1.320419e+09
8               Alagoas  1.320651e+09  ...  1.254531e+09     1.586689e+09
9                 Bahia  4.641372e+09  ...  4.596022e+09     4.490208e+09
10                Ceará  2.262494e+09  ...  2.583721e+09     5.938886e+09
11             Maranhão  1.438258e+09  ...  1.789147e+09     3.302909e+09
12              Paraíba  1.138345e+09  ...  1.312861e+09     1.943518e+09
13           Pernambuco  2.663761e+09  ...  2.827627e+09     2.589256e+09
14                Piauí  2.854463e+08  ...  7.268301e+08     1.589738e+09
15  Rio Grande do Norte  9.996811e+08  ...  1.080982e+09     1.138926e+09
16              Sergipe  9.789115e+08  ...  9.602580e+08     8.333592e+08
17                Goiás  3.726507e+09  ...  3.490225e+09     4.790826e+09
18          Mato Grosso  1.788680e+09  ...  2.210139e+09     3.839745e+09
19   Mato Grosso do Sul  1.341404e+09  ...  1.336914e+09     1.081365e+09
20     Distrito Federal  8.416280e+08  ...  8.961956e+08     1.878811e+09
21       Espírito Santo  1.554968e+09  ...  1.497715e+09     1.519662e+09
22         Minas Gerais  1.093235e+10  ...  9.919878e+09     7.540306e+09
23            São Paulo  1.406077e+10  ...  1.267252e+10     1.098080e+10
24       Rio de Janeiro  1.084982e+10  ...  1.009874e+10     1.207782e+10
25               Paraná  4.110216e+09  ...  4.192264e+09     5.224482e+09
26    Rio Grande do Sul  3.817499e+09  ...  4.549195e+09     1.004383e+10
27       Santa Catarina  2.508439e+09  ...  2.466599e+09     2.408770e+09

[27 rows x 10 columns]

#Ocorrências JSON

In [ ]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df1 = pd.read_json('gs://data_lake_ingest_data/1_input/OcorrenciasUF.json')
df1

              UF                           Tipo Crime  ...       Mês Ocorrências
0           Acre                              Estupro  ...   janeiro          39
1           Acre                     Furto de veículo  ...   janeiro          55
2           Acre                     Homicídio doloso  ...   janeiro          14
3           Acre      Lesão corporal seguida de morte  ...   janeiro           0
4           Acre       Roubo a instituição financeira  ...   janeiro           0
...          ...                                  ...  ...       ...         ...
18769  Tocantins       Roubo a instituição financeira  ...  dezembro           6
18770  Tocantins                       Roubo de carga  ...  dezembro           1
18771  Tocantins                     Roubo de veículo  ...  dezembro          55
18772  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           2
18773  Tocantins               Tentativa de homicídio  ...  dezembro          42

[18774 rows x 5 columns]

In [ ]:
df1.head()

     UF                       Tipo Crime   Ano      Mês  Ocorrências
0  Acre                          Estupro  2021  janeiro           39
1  Acre                 Furto de veículo  2021  janeiro           55
2  Acre                 Homicídio doloso  2021  janeiro           14
3  Acre  Lesão corporal seguida de morte  2021  janeiro            0
4  Acre   Roubo a instituição financeira  2021  janeiro            0

In [ ]:
df1.tail()

              UF                           Tipo Crime  ...       Mês Ocorrências
18769  Tocantins       Roubo a instituição financeira  ...  dezembro           6
18770  Tocantins                       Roubo de carga  ...  dezembro           1
18771  Tocantins                     Roubo de veículo  ...  dezembro          55
18772  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           2
18773  Tocantins               Tentativa de homicídio  ...  dezembro          42

[5 rows x 5 columns]

In [ ]:
df1.dtypes

UF             object
Tipo Crime     object
Ano             int64
Mês            object
Ocorrências     int64
dtype: object

In [ ]:
df1.isnull().sum()

UF             0
Tipo Crime     0
Ano            0
Mês            0
Ocorrências    0
dtype: int64

In [ ]:
df1.isna().sum()

UF             0
Tipo Crime     0
Ano            0
Mês            0
Ocorrências    0
dtype: int64

In [ ]:
sorted(pd.unique(df1['UF']))

['Acre',
 'Alagoas',
 'Amapá',
 'Amazonas',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Mato Grosso',
 'Mato Grosso do Sul',
 'Minas Gerais',
 'Paraná',
 'Paraíba',
 'Pará',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Rio Grande do Sul',
 'Rio de Janeiro',
 'Rondônia',
 'Roraima',
 'Santa Catarina',
 'Sergipe',
 'São Paulo',
 'Tocantins']

In [ ]:
sorted(pd.unique(df1['Tipo Crime']))

['Estupro',
 'Furto de veículo',
 'Homicídio doloso',
 'Lesão corporal seguida de morte',
 'Roubo a instituição financeira',
 'Roubo de carga',
 'Roubo de veículo',
 'Roubo seguido de morte (latrocínio)',
 'Tentativa de homicídio']

In [ ]:
sorted(pd.unique(df1['Ano']))

[2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [ ]:
sorted(pd.unique(df1['Mês']))

['abril',
 'agosto',
 'dezembro',
 'fevereiro',
 'janeiro',
 'julho',
 'junho',
 'maio',
 'março',
 'novembro',
 'outubro',
 'setembro']

In [ ]:
sorted(pd.unique(df1['Ocorrências']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 570,
 572,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 583,
 584,
 585,
 586,
 587,
 588,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 600,
 602,
 603,
 604,
 607,
 608,
 609,
 610,
 612,
 613,
 616,
 619,
 620,
 621,
 623,
 626,
 627,
 629,
 630,
 633,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 649,
 650,
 651,
 652,
 655,
 656,
 657,
 659,
 660,
 661,
 662,
 663,
 665,
 666,
 667,
 669,
 671,
 672,
 673,
 674,
 677,
 678,
 679,
 680,
 681,
 683,
 684,
 686,
 687,
 688,
 689,
 690,
 691,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 715,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 737,
 738,
 739,
 740,
 741,
 742,
 745,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 763,
 764,
 766,
 767,
 768,
 772,
 773,
 776,
 777,
 778,
 779,
 781,
 782,
 783,
 784,
 785,
 787,
 788,
 789,
 790,
 791,
 794,
 795,
 796,
 797,
 800,
 802,
 803,
 804,
 805,
 806,
 807,
 809,
 810,
 811,
 812,
 813,
 815,
 816,
 820,
 822,
 823,
 824,
 827,
 828,
 829,
 830,
 832,
 836,
 837,
 840,
 841,
 843,
 844,
 848,
 850,
 851,
 853,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 864,
 865,
 866,
 867,
 868,
 871,
 872,
 873,
 875,
 876,
 877,
 878,
 879,
 881,
 883,
 884,
 885,
 886,
 889,
 891,
 892,
 895,
 896,
 897,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 932,
 933,
 934,
 937,
 938,
 939,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 959,
 961,
 962,
 963,
 965,
 967,
 968,
 969,
 970,
 971,
 974,
 975,
 976,
 977,
 978,
 979,
 982,
 983,
 984,
 986,
 987,
 990,
 991,
 992,
 994,
 995,
 999,
 1004,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1015,
 1018,
 1019,
 1021,
 1023,
 1024,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1034,
 1035,
 1036,
 1037,
 1038,
 1040,
 1041,
 1042,
 1043,
 1044,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1057,
 1058,
 1060,
 1061,
 1063,
 1065,
 1066,
 1071,
 1072,
 1073,
 1074,
 1076,
 1078,
 1079,
 1080,
 1082,
 1083,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1100,
 1101,
 1102,
 1103,
 1104,
 1106,
 1107,
 1109,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1122,
 1123,
 1124,
 1126,
 1129,
 1130,
 1132,
 1133,
 1134,
 1136,
 1139,
 1140,
 1141,
 1142,
 1144,
 1146,
 1149,
 1150,
 1153,
 1154,
 1158,
 1159,
 1160,
 1161,
 1162,
 1166,
 1167,
 1169,
 1170,
 1171,
 1172,
 1173,
 1175,
 1178,
 1179,
 1182,
 1183,
 ...]

In [ ]:
dfA = df1.groupby(['UF','Ano','Tipo Crime']).sum()
dfA

                                                    Ocorrências
UF        Ano  Tipo Crime
Acre      2015 Estupro                                       42
               Furto de veículo                               0
               Homicídio doloso                             189
               Lesão corporal seguida de morte                3
               Roubo a instituição financeira                 0
...                                                         ...
Tocantins 2021 Roubo a instituição financeira                 1
               Roubo de carga                                 0
               Roubo de veículo                             241
               Roubo seguido de morte (latrocínio)            6
               Tentativa de homicídio                       185

[1695 rows x 1 columns]

#Vítimas JSON

In [ ]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df2 = pd.read_json('gs://data_lake_ingest_data/1_input/VitimasUF.json')
df2

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

In [ ]:
df2.head()

     UF        Tipo Crime   Ano        Mês Sexo da Vítima  Vítimas
0  Acre  Homicídio doloso  2021    janeiro       Feminino        1
1  Acre  Homicídio doloso  2021    janeiro      Masculino       13
2  Acre  Homicídio doloso  2021    janeiro        Sexo NI        0
3  Acre  Homicídio doloso  2021  fevereiro       Feminino        4
4  Acre  Homicídio doloso  2021  fevereiro      Masculino       12

In [ ]:
df2.tail()

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[5 rows x 6 columns]

In [ ]:
df2.dtypes

UF                object
Tipo Crime        object
Ano                int64
Mês               object
Sexo da Vítima    object
Vítimas            int64
dtype: object

In [ ]:
df2.isnull().sum()

UF                0
Tipo Crime        0
Ano               0
Mês               0
Sexo da Vítima    0
Vítimas           0
dtype: int64

In [ ]:
df2.isna().sum()

UF                0
Tipo Crime        0
Ano               0
Mês               0
Sexo da Vítima    0
Vítimas           0
dtype: int64

In [ ]:
sorted(pd.unique(df2['UF']))

['Acre',
 'Alagoas',
 'Amapá',
 'Amazonas',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Mato Grosso',
 'Mato Grosso do Sul',
 'Minas Gerais',
 'Paraná',
 'Paraíba',
 'Pará',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Rio Grande do Sul',
 'Rio de Janeiro',
 'Rondônia',
 'Roraima',
 'Santa Catarina',
 'Sergipe',
 'São Paulo',
 'Tocantins']

In [ ]:
sorted(pd.unique(df2['Tipo Crime']))

['Homicídio doloso',
 'Lesão corporal seguida de morte',
 'Roubo seguido de morte (latrocínio)']

In [ ]:
sorted(pd.unique(df2['Ano']))

[2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [ ]:
sorted(pd.unique(df2['Mês']))

['abril',
 'agosto',
 'dezembro',
 'fevereiro',
 'janeiro',
 'julho',
 'junho',
 'maio',
 'março',
 'novembro',
 'outubro',
 'setembro']

In [ ]:
sorted(pd.unique(df2['Sexo da Vítima']))

['Feminino', 'Masculino', 'Não informado', 'Sem Informação', 'Sexo NI']

In [ ]:
sorted(pd.unique(df2['Vítimas']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 244,
 245,
 246,
 247,
 249,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 287,
 288,
 289,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 344,
 345,
 347,
 348,
 349,
 350,
 351,
 352,
 355,
 356,
 358,
 360,
 361,
 362,
 363,
 365,
 368,
 369,
 370,
 371,
 374,
 375,
 379,
 382,
 385,
 388,
 394,
 396,
 397,
 399,
 400,
 402,
 403,
 405,
 407,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 421,
 422,
 423,
 424,
 425,
 427,
 428,
 431,
 432,
 434,
 438,
 439,
 440,
 441,
 445,
 448,
 449,
 450,
 452,
 456,
 457,
 458,
 460,
 461,
 464,
 466,
 467,
 468,
 469,
 470,
 471,
 473,
 475,
 476,
 478,
 479,
 483,
 485,
 495,
 497,
 500,
 501,
 503,
 508,
 519,
 523,
 534,
 536,
 542,
 580]

In [ ]:
df2_back = df2.copy()
df2_back

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

In [ ]:
df2['Sexo da Vítima'] = df2['Sexo da Vítima'].replace(["Não Informado","Sem Informação"],'Sexo NI')
df2

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

In [ ]:
df2.loc[df2['Sexo da Vítima'] == 'Sexo NI']

            UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
2         Acre                     Homicídio doloso  ...         Sexo NI       0
5         Acre                     Homicídio doloso  ...         Sexo NI       0
8         Acre                     Homicídio doloso  ...         Sexo NI       0
11        Acre                     Homicídio doloso  ...         Sexo NI       0
14        Acre                     Homicídio doloso  ...         Sexo NI       0
...        ...                                  ...  ...             ...     ...
15695  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15698  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15701  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15704  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15707  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0

[4830 rows x 6 columns]

In [ ]:
dfB= df2.groupby(['UF','Ano','Tipo Crime']).sum()
dfB

                                                    Vítimas
UF        Ano  Tipo Crime
Acre      2015 Homicídio doloso                         189
          2016 Homicídio doloso                         354
          2017 Homicídio doloso                         232
               Lesão corporal seguida de morte            3
               Roubo seguido de morte (latrocínio)       15
...                                                     ...
Tocantins 2020 Lesão corporal seguida de morte            9
               Roubo seguido de morte (latrocínio)       16
          2021 Homicídio doloso                         180
               Lesão corporal seguida de morte            1
               Roubo seguido de morte (latrocínio)        6

[559 rows x 1 columns]

In [ ]:
df_Ocorrencias_Vitimas_PorAnoEstado = pd.concat([dfA, dfB], axis=1)
df_Ocorrencias_Vitimas_PorAnoEstado

                                                    Ocorrências  Vítimas
UF        Ano  Tipo Crime
Acre      2015 Estupro                                       42      NaN
               Furto de veículo                               0      NaN
               Homicídio doloso                             189    189.0
               Lesão corporal seguida de morte                3      NaN
               Roubo a instituição financeira                 0      NaN
...                                                         ...      ...
Tocantins 2021 Roubo a instituição financeira                 1      NaN
               Roubo de carga                                 0      NaN
               Roubo de veículo                             241      NaN
               Roubo seguido de morte (latrocínio)            6      6.0
               Tentativa de homicídio                       185      NaN

[1695 rows x 2 columns]

In [ ]:
df_Ocorrencias_Vitimas_PorAnoEstado .head(20)

                                               Ocorrências  Vítimas
UF   Ano  Tipo Crime
Acre 2015 Estupro                                       42      NaN
          Furto de veículo                               0      NaN
          Homicídio doloso                             189    189.0
          Lesão corporal seguida de morte                3      NaN
          Roubo a instituição financeira                 0      NaN
          Roubo de carga                                 0      NaN
          Roubo de veículo                               0      NaN
          Roubo seguido de morte (latrocínio)           10      NaN
          Tentativa de homicídio                        16      NaN
     2016 Estupro                                       36      NaN
          Furto de veículo                               0      NaN
          Homicídio doloso                             425    354.0
          Lesão corporal seguida de morte                1      NaN
          Roubo a instituição financeira                 0      NaN
          Roubo de carga                                 0      NaN
          Roubo de veículo                               0      NaN
          Roubo seguido de morte (latrocínio)           15      NaN
          Tentativa de homicídio                        10      NaN
     2017 Estupro                                      108      NaN
          Furto de veículo                             539      NaN

In [ ]:
df_Ocorrencias_Vitimas_PorAnoEstado .tail(20)

                                                    Ocorrências  Vítimas
UF        Ano  Tipo Crime
Tocantins 2019 Roubo seguido de morte (latrocínio)           18     29.0
               Tentativa de homicídio                       518      NaN
          2020 Estupro                                      642      NaN
               Furto de veículo                            1259      NaN
               Homicídio doloso                             367    392.0
               Lesão corporal seguida de morte                7      9.0
               Roubo a instituição financeira                 3      NaN
               Roubo de carga                                 2      NaN
               Roubo de veículo                             484      NaN
               Roubo seguido de morte (latrocínio)           16     16.0
               Tentativa de homicídio                       430      NaN
          2021 Estupro                                      304      NaN
               Furto de veículo                             526      NaN
               Homicídio doloso                             157    180.0
               Lesão corporal seguida de morte                1      1.0
               Roubo a instituição financeira                 1      NaN
               Roubo de carga                                 0      NaN
               Roubo de veículo                             241      NaN
               Roubo seguido de morte (latrocínio)            6      6.0
               Tentativa de homicídio                       185      NaN

In [ ]:
df_Ocorrencias_Vitimas_PorAnoEstado .dtypes

Ocorrências      int64
Vítimas        float64
dtype: object

In [ ]:
sorted(pd.unique(df_Ocorrencias_Vitimas_PorAnoEstado['Vítimas']))

[nan,
 0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 56.0,
 58.0,
 59.0,
 60.0,
 61.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 80.0,
 81.0,
 82.0,
 83.0,
 86.0,
 87.0,
 88.0,
 90.0,
 92.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 101.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 119.0,
 121.0,
 122.0,
 123.0,
 125.0,
 129.0,
 131.0,
 133.0,
 135.0,
 137.0,
 142.0,
 165.0,
 169.0,
 173.0,
 174.0,
 175.0,
 176.0,
 180.0,
 183.0,
 189.0,
 190.0,
 191.0,
 194.0,
 199.0,
 203.0,
 207.0,
 212.0,
 224.0,
 225.0,
 228.0,
 232.0,
 235.0,
 237.0,
 239.0,
 248.0,
 250.0,
 254.0,
 273.0,
 274.0,
 278.0,
 298.0,
 301.0,
 305.0,
 313.0,
 328.0,
 329.0,
 336.0,
 340.0,
 344.0,
 353.0,
 354.0,
 362.0,
 363.0,
 368.0,
 369.0,
 373.0,
 382.0,
 385.0,
 392.0,
 394.0,
 427.0,
 430.0,
 431.0,
 446.0,
 463.0,
 470.0,
 481.0,
 505.0,
 511.0,
 523.0,
 535.0,
 544.0,
 545.0,
 562.0,
 592.0,
 598.0,
 603.0,
 610.0,
 613.0,
 636.0,
 641.0,
 663.0,
 671.0,
 695.0,
 696.0,
 724.0,
 761.0,
 777.0,
 783.0,
 802.0,
 807.0,
 810.0,
 827.0,
 897.0,
 918.0,
 921.0,
 926.0,
 933.0,
 946.0,
 956.0,
 985.0,
 987.0,
 988.0,
 995.0,
 1026.0,
 1074.0,
 1079.0,
 1086.0,
 1093.0,
 1100.0,
 1106.0,
 1108.0,
 1121.0,
 1135.0,
 1136.0,
 1155.0,
 1172.0,
 1178.0,
 1182.0,
 1196.0,
 1209.0,
 1231.0,
 1286.0,
 1306.0,
 1318.0,
 1330.0,
 1392.0,
 1396.0,
 1398.0,
 1405.0,
 1420.0,
 1447.0,
 1484.0,
 1506.0,
 1549.0,
 1550.0,
 1617.0,
 1627.0,
 1643.0,
 1695.0,
 1706.0,
 1722.0,
 1745.0,
 1780.0,
 1811.0,
 1820.0,
 1828.0,
 1859.0,
 1862.0,
 1955.0,
 1996.0,
 2008.0,
 2025.0,
 2071.0,
 2187.0,
 2189.0,
 2192.0,
 2255.0,
 2368.0,
 2416.0,
 2498.0,
 2550.0,
 2576.0,
 2665.0,
 2703.0,
 2711.0,
 2736.0,
 2895.0,
 2906.0,
 2923.0,
 2992.0,
 3036.0,
 3081.0,
 3106.0,
 3284.0,
 3312.0,
 3363.0,
 3503.0,
 3532.0,
 3556.0,
 3650.0,
 3750.0,
 3766.0,
 3877.0,
 3923.0,
 3955.0,
 3961.0,
 3999.0,
 4022.0,
 4167.0,
 4184.0,
 4200.0,
 4277.0,
 4432.0,
 4950.0,
 5003.0,
 5004.0,
 5042.0,
 5140.0,
 5344.0,
 5346.0,
 5521.0,
 5709.0,
 6205.0,
 6476.0]

Suguestão igor: Rendimento medio da população de cada estado (mais crimes naqueles estados que são mais ricos ou não?!)

Educação fator poderante?!

Apache BEAM - Criar modelos PERSONALIZADOS de Pipeline

DataFlow - Executar Pipelines

Pipeline - automatizar o processo de transferencia de carga