<a href="https://colab.research.google.com/github/MarianaDuartee/ProjetoFinal/blob/main/ProjetoFinalPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install gcsfs

Requirement already satisfied: gcsfs in /usr/local/lib/python3.7/dist-packages (2021.11.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: fsspec==2021.11.0 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2021.11.0)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.7.2)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (5.2.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (0.13.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.2.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (3.10.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (21.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (2.0.7)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (4.0.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (1.7.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.2)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.53.0)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2.4.7)

In [ ]:
import pandas as pd

# Evolução de despesas

In [ ]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df = pd.read_csv('gs://data_lake_ingest_data/1_input/EvolucaoDespesas.csv',sep=';')
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.dtypes

In [ ]:
df_back = df.copy()
df_back

In [ ]:
df.rename(columns={'Regiões e UF': 'UF'},inplace=True)

In [ ]:
df

In [ ]:
df.drop(columns=["2011", "2012","2013","2014"],inplace=True)
df

In [ ]:
df.isnull().sum()

In [ ]:
df.isna().sum()

In [ ]:
pd.unique(df['UF'])

In [ ]:
pd.unique(df['2015'])

In [ ]:
pd.unique(df['2016'])

In [ ]:
pd.unique(df['2017'])

In [ ]:
pd.unique(df['2018'])

In [ ]:
pd.unique(df['2019'])

In [ ]:
pd.unique(df['2020'])

In [ ]:
df.count()

UF      27
2015    27
2016    27
2017    27
2018    27
2019    27
2020    27
dtype: int64

In [ ]:
df.groupby(['UF']).sum()

2015    2.929605e+09
2016    2.861849e+09
2017    2.869783e+09
2018    2.936372e+09
2019    2.955162e+09
2020    2.885574e+09
dtype: float64

#Ocorrências JSON

In [ ]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df1 = pd.read_json('gs://data_lake_ingest_data/1_input/OcorrenciasUF.json')
df1

              UF                           Tipo Crime  ...       Mês Ocorrências
0           Acre                              Estupro  ...   janeiro          39
1           Acre                     Furto de veículo  ...   janeiro          55
2           Acre                     Homicídio doloso  ...   janeiro          14
3           Acre      Lesão corporal seguida de morte  ...   janeiro           0
4           Acre       Roubo a instituição financeira  ...   janeiro           0
...          ...                                  ...  ...       ...         ...
18769  Tocantins       Roubo a instituição financeira  ...  dezembro           6
18770  Tocantins                       Roubo de carga  ...  dezembro           1
18771  Tocantins                     Roubo de veículo  ...  dezembro          55
18772  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           2
18773  Tocantins               Tentativa de homicídio  ...  dezembro          42

[18774 rows x 5 columns]

In [ ]:
df1.head()

     UF                       Tipo Crime   Ano      Mês  Ocorrências
0  Acre                          Estupro  2021  janeiro           39
1  Acre                 Furto de veículo  2021  janeiro           55
2  Acre                 Homicídio doloso  2021  janeiro           14
3  Acre  Lesão corporal seguida de morte  2021  janeiro            0
4  Acre   Roubo a instituição financeira  2021  janeiro            0

In [ ]:
df1.tail()

              UF                           Tipo Crime  ...       Mês Ocorrências
18769  Tocantins       Roubo a instituição financeira  ...  dezembro           6
18770  Tocantins                       Roubo de carga  ...  dezembro           1
18771  Tocantins                     Roubo de veículo  ...  dezembro          55
18772  Tocantins  Roubo seguido de morte (latrocínio)  ...  dezembro           2
18773  Tocantins               Tentativa de homicídio  ...  dezembro          42

[5 rows x 5 columns]

In [ ]:
df1.dtypes

UF             object
Tipo Crime     object
Ano             int64
Mês            object
Ocorrências     int64
dtype: object

In [ ]:
df1.isnull().sum()

UF             0
Tipo Crime     0
Ano            0
Mês            0
Ocorrências    0
dtype: int64

In [ ]:
df1.isna().sum()

UF             0
Tipo Crime     0
Ano            0
Mês            0
Ocorrências    0
dtype: int64

In [ ]:
sorted(pd.unique(df1['UF']))

['Acre',
 'Alagoas',
 'Amapá',
 'Amazonas',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Mato Grosso',
 'Mato Grosso do Sul',
 'Minas Gerais',
 'Paraná',
 'Paraíba',
 'Pará',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Rio Grande do Sul',
 'Rio de Janeiro',
 'Rondônia',
 'Roraima',
 'Santa Catarina',
 'Sergipe',
 'São Paulo',
 'Tocantins']

In [ ]:
sorted(pd.unique(df1['Tipo Crime']))

['Estupro',
 'Furto de veículo',
 'Homicídio doloso',
 'Lesão corporal seguida de morte',
 'Roubo a instituição financeira',
 'Roubo de carga',
 'Roubo de veículo',
 'Roubo seguido de morte (latrocínio)',
 'Tentativa de homicídio']

In [ ]:
sorted(pd.unique(df1['Ano']))

[2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [ ]:
sorted(pd.unique(df1['Mês']))

['abril',
 'agosto',
 'dezembro',
 'fevereiro',
 'janeiro',
 'julho',
 'junho',
 'maio',
 'março',
 'novembro',
 'outubro',
 'setembro']

In [ ]:
sorted(pd.unique(df1['Ocorrências']))

#Vítimas JSON

In [ ]:
import os
from google.cloud import storage
serviceaccount = '/content/soulcode-projeto-final-4b88bea6e07a.json'
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceaccount
df2 = pd.read_json('gs://data_lake_ingest_data/1_input/VitimasUF.json')
df2

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

In [ ]:
df2.head()

     UF        Tipo Crime   Ano        Mês Sexo da Vítima  Vítimas
0  Acre  Homicídio doloso  2021    janeiro       Feminino        1
1  Acre  Homicídio doloso  2021    janeiro      Masculino       13
2  Acre  Homicídio doloso  2021    janeiro        Sexo NI        0
3  Acre  Homicídio doloso  2021  fevereiro       Feminino        4
4  Acre  Homicídio doloso  2021  fevereiro      Masculino       12

In [ ]:
df2.tail()

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[5 rows x 6 columns]

In [ ]:
df2.dtypes

UF                object
Tipo Crime        object
Ano                int64
Mês               object
Sexo da Vítima    object
Vítimas            int64
dtype: object

In [ ]:
df2.isnull().sum()

UF                0
Tipo Crime        0
Ano               0
Mês               0
Sexo da Vítima    0
Vítimas           0
dtype: int64

In [ ]:
df2.isna().sum()

UF                0
Tipo Crime        0
Ano               0
Mês               0
Sexo da Vítima    0
Vítimas           0
dtype: int64

In [ ]:
sorted(pd.unique(df2['UF']))

In [ ]:
sorted(pd.unique(df2['Tipo Crime']))

['Homicídio doloso',
 'Lesão corporal seguida de morte',
 'Roubo seguido de morte (latrocínio)']

In [ ]:
sorted(pd.unique(df2['Ano']))

[2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [ ]:
sorted(pd.unique(df2['Mês']))

['abril',
 'agosto',
 'dezembro',
 'fevereiro',
 'janeiro',
 'julho',
 'junho',
 'maio',
 'março',
 'novembro',
 'outubro',
 'setembro']

In [ ]:
sorted(pd.unique(df2['Sexo da Vítima']))

['Feminino', 'Masculino', 'Não informado', 'Sem Informação', 'Sexo NI']

In [ ]:
sorted(pd.unique(df2['Vítimas']))

In [ ]:
df2_back = df2.copy()
df2_back

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

In [ ]:
df2['Sexo da Vítima'] = df2['Sexo da Vítima'].replace(["Não Informado","Sem Informação"],'Sexo NI')
df2

              UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
0           Acre                     Homicídio doloso  ...        Feminino       1
1           Acre                     Homicídio doloso  ...       Masculino      13
2           Acre                     Homicídio doloso  ...         Sexo NI       0
3           Acre                     Homicídio doloso  ...        Feminino       4
4           Acre                     Homicídio doloso  ...       Masculino      12
...          ...                                  ...  ...             ...     ...
15740  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15741  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15742  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       1
15743  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2
15744  Tocantins  Roubo seguido de morte (latrocínio)  ...       Masculino       2

[15745 rows x 6 columns]

In [ ]:
df2.loc[df2['Sexo da Vítima'] == 'Sexo NI']

            UF                           Tipo Crime  ...  Sexo da Vítima Vítimas
2         Acre                     Homicídio doloso  ...         Sexo NI       0
5         Acre                     Homicídio doloso  ...         Sexo NI       0
8         Acre                     Homicídio doloso  ...         Sexo NI       0
11        Acre                     Homicídio doloso  ...         Sexo NI       0
14        Acre                     Homicídio doloso  ...         Sexo NI       0
...        ...                                  ...  ...             ...     ...
15695  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15698  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15701  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15704  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0
15707  Sergipe  Roubo seguido de morte (latrocínio)  ...         Sexo NI       0

[4830 rows x 6 columns]